software/caTissue/modules/NotificationService/wsrf/share/schema/core/tests/basic/test_flattened.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Test" targetNamespace="http://wsrf.globus.org/tests/basic" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://wsrf.globus.org/tests/basic" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" location="../../../wsrf/lifetime/WS-ResourceLifetime.wsdl"/>
  <wsdl:import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../../../wsrf/properties/WS-ResourceProperties.wsdl"/>
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://wsrf.globus.org/tests/basic" xmlns:rpns0="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd" xmlns:tns="http://wsrf.globus.org/tests/basic" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd" schemaLocation="../../../wsrf/lifetime/WS-ResourceLifetime.xsd"/>


            <xsd:import namespace="http://schemas.xmlsoap.org/ws/2004/03/addressing" schemaLocation="../../../ws/addressing/WS-Addressing.xsd"/>

            <xsd:element name="createResource">
                <xsd:complexType/>
            </xsd:element>

            <xsd:element name="createResourceResponse">
               <xsd:complexType>
                 <xsd:sequence> 
                   <xsd:element ref="wsa:EndpointReference"/>
                 </xsd:sequence>
              </xsd:complexType>
            </xsd:element>

            <xsd:element name="getInstanceInfo">
                <xsd:complexType/>
            </xsd:element>

            <xsd:element name="getInstanceInfoResponse">
               <xsd:complexType>
                 <xsd:sequence> 
                   <xsd:element name="instances" type="xsd:int"/>
                   <xsd:element name="initCalls" type="xsd:int"/>
                   <xsd:element name="destroyCalls" type="xsd:int"/>
                   <xsd:element name="providerInit" type="xsd:boolean"/>
                 </xsd:sequence>
              </xsd:complexType>
            </xsd:element>

            <xsd:element name="resetNumInstances">
                <xsd:complexType/>
            </xsd:element>

            <xsd:element name="resetNumInstancesResponse">
                <xsd:complexType/>
            </xsd:element>

            <xsd:element name="Value" type="xsd:int"/>
            
            <xsd:element name="TestRP">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" ref="tns:Value"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="testLocalInvocation">
                <xsd:complexType/>
            </xsd:element>

            <xsd:element name="testLocalInvocationResponse">
                <xsd:complexType/>
            </xsd:element>

            <xsd:element name="NoPermissionFaultType" type="xsd:string"/>

        <xsd:element name="TestPortTypeGTWSDLResourceProperties">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="rpns0:CurrentTime"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="rpns0:TerminationTime"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetInstanceInfoResponse">
    <wsdl:part name="response" element="tns:getInstanceInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="NoPermissionFault">
    <wsdl:part name="description" element="tns:NoPermissionFaultType"/>
  </wsdl:message>
  <wsdl:message name="ResetNumInstancesRequest">
    <wsdl:part name="request" element="tns:resetNumInstances"/>
  </wsdl:message>
  <wsdl:message name="CreateResourceRequest">
    <wsdl:part name="request" element="tns:createResource"/>
  </wsdl:message>
  <wsdl:message name="TestLocalInvocationRequest">
    <wsdl:part name="request" element="tns:testLocalInvocation"/>
  </wsdl:message>
  <wsdl:message name="GetInstanceInfoRequest">
    <wsdl:part name="request" element="tns:getInstanceInfo"/>
  </wsdl:message>
  <wsdl:message name="ResetNumInstancesResponse">
    <wsdl:part name="response" element="tns:resetNumInstancesResponse"/>
  </wsdl:message>
  <wsdl:message name="TestLocalInvocationResponse">
    <wsdl:part name="response" element="tns:testLocalInvocationResponse"/>
  </wsdl:message>
  <wsdl:message name="CreateResourceResponse">
    <wsdl:part name="response" element="tns:createResourceResponse"/>
  </wsdl:message>
  <wsdl:portType name="TestPortType" wsrp:ResourceProperties="TestPortTypeGTWSDLResourceProperties">
    <wsdl:operation name="createResource">
      <wsdl:input message="tns:CreateResourceRequest"/>
      <wsdl:output message="tns:CreateResourceResponse"/>
      <wsdl:fault name="NoPermissionFault1" message="tns:NoPermissionFault"/>
    </wsdl:operation>
    <wsdl:operation name="getInstanceInfo">
      <wsdl:input message="tns:GetInstanceInfoRequest"/>
      <wsdl:output message="tns:GetInstanceInfoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="resetNumInstances">
      <wsdl:input message="tns:ResetNumInstancesRequest"/>
      <wsdl:output message="tns:ResetNumInstancesResponse"/>
    </wsdl:operation>
    <wsdl:operation name="testLocalInvocation">
      <wsdl:input message="tns:TestLocalInvocationRequest"/>
      <wsdl:output message="tns:TestLocalInvocationResponse"/>
    </wsdl:operation>
    <wsdl:operation name="Destroy">
      <wsdl:input message="wsrlw:DestroyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/Destroy"/>
      <wsdl:output message="wsrlw:DestroyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/DestroyResponse"/>
      <wsdl:fault name="ResourceNotDestroyedFault" message="wsrlw:ResourceNotDestroyedFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsrlw:ResourceUnknownFault"/>
    </wsdl:operation>
    <wsdl:operation name="SetTerminationTime">
      <wsdl:input message="wsrlw:SetTerminationTimeRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/SetTerminationTime"/>
      <wsdl:output message="wsrlw:SetTerminationTimeResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/SetTerminationTimeResponse"/>
      <wsdl:fault name="UnableToSetTerminationTimeFault" message="wsrlw:UnableToSetTerminationTimeFault"/>
      <wsdl:fault name="TerminationTimeChangeRejectedFault" message="wsrlw:TerminationTimeChangeRejectedFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsrlw:ResourceUnknownFault"/>
    </wsdl:operation>
    <wsdl:operation name="SetResourceProperties">
      <wsdl:input name="SetResourcePropertiesRequest" message="wsrpw:SetResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/SetResourceProperties"/>
      <wsdl:output name="SetResourcePropertiesResponse" message="wsrpw:SetResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/SetResourcePropertiesResponse"/>
      <wsdl:fault name="SetResourcePropertyRequestFailedFault" message="wsrpw:SetResourcePropertyRequestFailedFault"/>
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault"/>
      <wsdl:fault name="UnableToModifyResourcePropertyFault" message="wsrpw:UnableToModifyResourcePropertyFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
      <wsdl:fault name="InvalidSetResourcePropertiesRequestContentFault" message="wsrpw:InvalidSetResourcePropertiesRequestContentFault"/>
    </wsdl:operation>
    <wsdl:operation name="QueryResourceProperties">
      <wsdl:input name="QueryResourcePropertiesRequest" message="wsrpw:QueryResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties"/>
      <wsdl:output name="QueryResourcePropertiesResponse" message="wsrpw:QueryResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse"/>
      <wsdl:fault name="UnknownQueryExpressionDialectFault" message="wsrpw:UnknownQueryExpressionDialectFault"/>
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault"/>
      <wsdl:fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault"/>
      <wsdl:fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
    </wsdl:operation>
    <wsdl:operation name="GetResourceProperty">
      <wsdl:input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty"/>
      <wsdl:output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse"/>
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
    </wsdl:operation>
    <wsdl:operation name="GetMultipleResourceProperties">
      <wsdl:input name="GetMultipleResourcePropertiesRequest" message="wsrpw:GetMultipleResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties"/>
      <wsdl:output name="GetMultipleResourcePropertiesResponse" message="wsrpw:GetMultipleResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourcePropertiesResponse"/>
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
