software/caTissue/modules/caTissueStaticDataService/src/edu/wustl/catissuecore/domain/schema/edu.wustl.catissuecore.domain.ws.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns="gme://caCORE.caCORE/3.2/edu.wustl.catissuecore.domain.ws" 
xmlns:edu.wustl.catissuecore.domain.deintegration.ws="gme://caCORE.caCORE/3.2/edu.wustl.catissuecore.domain.deintegration.ws" 
xmlns:edu.wustl.catissuecore.domain.ws="gme://caCORE.caCORE/3.2/edu.wustl.catissuecore.domain.ws" 
xmlns:edu.wustl.catissuecore.domain.sop.ws="gme://caCORE.caCORE/3.2/edu.wustl.catissuecore.domain.sop.ws" 
xmlns:edu.wustl.catissuecore.domain.pathology.ws="gme://caCORE.caCORE/3.2/edu.wustl.catissuecore.domain.pathology.ws" 
xmlns:edu.common.dynamicextensions.domain.integration.ws="gme://caCORE.caCORE/3.2/edu.common.dynamicextensions.domain.integration.ws" 
xmlns:edu.wustl.common.domain.ws="gme://caCORE.caCORE/3.2/edu.wustl.common.domain.ws" 
targetNamespace="gme://caCORE.caCORE/3.2/edu.wustl.catissuecore.domain.ws" elementFormDefault="qualified">
  <xs:import namespace="gme://caCORE.caCORE/3.2/edu.wustl.common.domain.ws" schemaLocation="edu.wustl.common.domain.ws.xsd" />
  <xs:import namespace="gme://caCORE.caCORE/3.2/edu.wustl.catissuecore.domain.sop.ws" schemaLocation="edu.wustl.catissuecore.domain.sop.ws.xsd" />
  <xs:import namespace="gme://caCORE.caCORE/3.2/edu.wustl.catissuecore.domain.pathology.ws" schemaLocation="edu.wustl.catissuecore.domain.pathology.ws.xsd" />
  <xs:import namespace="gme://caCORE.caCORE/3.2/edu.wustl.catissuecore.domain.deintegration.ws" schemaLocation="edu.wustl.catissuecore.domain.deintegration.ws.xsd" />
  <xs:import namespace="gme://caCORE.caCORE/3.2/edu.common.dynamicextensions.domain.integration.ws" schemaLocation="edu.common.dynamicextensions.domain.integration.ws.xsd" />
  <xs:element name="ReceivedEventParameters" type="ReceivedEventParameters" />
  <xs:complexType name="ReceivedEventParameters">
    <xs:complexContent>
      <xs:extension base="SpecimenEventParameters">
        <xs:sequence />
        <xs:attribute name="receivedQuality" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClinicalDiagnosis" type="ClinicalDiagnosis" />
  <xs:complexType name="ClinicalDiagnosis">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence>
          <xs:element name="collectionProtocol" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="CollectionProtocol" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="name" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrderItem" type="OrderItem" />
  <xs:complexType name="OrderItem">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence>
          <xs:element name="distributedItem" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="DistributedItem" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="orderDetails" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="OrderDetails" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="description" type="xs:string" />
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="requestedQuantity" type="xs:double" />
        <xs:attribute name="status" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ContainerType" type="ContainerType" />
  <xs:complexType name="ContainerType">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence>
          <xs:element name="capacity" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Capacity" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="activityStatus" type="xs:string" />
        <xs:attribute name="comment" type="xs:string" />
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="oneDimensionLabel" type="xs:string" />
        <xs:attribute name="twoDimensionLabel" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ContainerPosition" type="ContainerPosition" />
  <xs:complexType name="ContainerPosition">
    <xs:complexContent>
      <xs:extension base="AbstractPosition">
        <xs:sequence>
          <xs:element name="parentContainer" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Container" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="occupiedContainer" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Container" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StudyFormContext" type="StudyFormContext" />
  <xs:complexType name="StudyFormContext">
    <xs:complexContent>
      <xs:extension base="edu.common.dynamicextensions.domain.integration.ws:AbstractFormContext">
        <xs:sequence>
          <xs:element name="collectionProtocolCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="CollectionProtocol" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="noOfEntries" type="xs:integer" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExternalIdentifier" type="ExternalIdentifier" />
  <xs:complexType name="ExternalIdentifier">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence>
          <xs:element name="specimen" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Specimen" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="value" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SpecimenArrayOrderItem" type="SpecimenArrayOrderItem" abstract="true" />
  <xs:complexType name="SpecimenArrayOrderItem">
    <xs:complexContent>
      <xs:extension base="OrderItem">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" type="User" />
  <xs:complexType name="User">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence>
          <xs:element name="institution" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Institution" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="siteCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Site" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="department" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Department" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="cancerResearchGroup" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="CancerResearchGroup" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="assignedProtocolCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="CollectionProtocol" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="address" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Address" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="collectionProtocolCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="CollectionProtocol" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="activityStatus" type="xs:string" />
        <xs:attribute name="comments" type="xs:string" />
        <xs:attribute name="csmUserId" type="xs:long" />
        <xs:attribute name="dirtyEditFlag" type="xs:boolean" />
        <xs:attribute name="emailAddress" type="xs:string" />
        <xs:attribute name="firstName" type="xs:string" />
        <xs:attribute name="firstTimeLogin" type="xs:boolean" />
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="lastName" type="xs:string" />
        <xs:attribute name="loginName" type="xs:string" />
        <xs:attribute name="remoteId" type="xs:long" />
        <xs:attribute name="startDate" type="xs:dateTime" />
        <xs:attribute name="remoteManagedFlag" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ParticipantMedicalIdentifier" type="ParticipantMedicalIdentifier" />
  <xs:complexType name="ParticipantMedicalIdentifier">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence>
          <xs:element name="site" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Site" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="participant" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Participant" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="medicalRecordNumber" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NewSpecimenArrayOrderItem" type="NewSpecimenArrayOrderItem" />
  <xs:complexType name="NewSpecimenArrayOrderItem">
    <xs:complexContent>
      <xs:extension base="SpecimenArrayOrderItem">
        <xs:sequence>
          <xs:element name="specimenOrderItemCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SpecimenOrderItem" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="specimenArrayType" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SpecimenArrayType" minOccurs="0" maxOccurs="0" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="specimenArray" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SpecimenArray" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CellSpecimenRequirement" type="CellSpecimenRequirement" />
  <xs:complexType name="CellSpecimenRequirement">
    <xs:complexContent>
      <xs:extension base="SpecimenRequirement">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AbstractPosition" type="AbstractPosition" abstract="true" />
  <xs:complexType name="AbstractPosition">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence />
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="positionDimensionOne" type="xs:integer" />
        <xs:attribute name="positionDimensionTwo" type="xs:integer" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FluidSpecimenRequirement" type="FluidSpecimenRequirement" />
  <xs:complexType name="FluidSpecimenRequirement">
    <xs:complexContent>
      <xs:extension base="SpecimenRequirement">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Site" type="Site" />
  <xs:complexType name="Site">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence>
          <xs:element name="address" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Address" minOccurs="0" maxOccurs="0" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="abstractSpecimenCollectionGroupCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="AbstractSpecimenCollectionGroup" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="coordinator" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="User" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="assignedSiteUserCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="User" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="collectionProtocolCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="CollectionProtocol" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="activityStatus" type="xs:string" />
        <xs:attribute name="ctepId" type="xs:string" />
        <xs:attribute name="dirtyEditFlag" type="xs:boolean" />
        <xs:attribute name="emailAddress" type="xs:string" />
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="remoteId" type="xs:long" />
        <xs:attribute name="type" type="xs:string" />
        <xs:attribute name="remoteManagedFlag" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FrozenEventParameters" type="FrozenEventParameters" />
  <xs:complexType name="FrozenEventParameters">
    <xs:complexContent>
      <xs:extension base="SpecimenEventParameters">
        <xs:sequence />
        <xs:attribute name="method" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FluidSpecimen" type="FluidSpecimen" />
  <xs:complexType name="FluidSpecimen">
    <xs:complexContent>
      <xs:extension base="Specimen">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SpecimenCharacteristics" type="SpecimenCharacteristics" />
  <xs:complexType name="SpecimenCharacteristics">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence />
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="tissueSide" type="xs:string" />
        <xs:attribute name="tissueSite" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MolecularSpecimen" type="MolecularSpecimen" />
  <xs:complexType name="MolecularSpecimen">
    <xs:complexContent>
      <xs:extension base="Specimen">
        <xs:sequence />
        <xs:attribute name="concentrationInMicrogramPerMicroliter" type="xs:double" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrderDetails" type="OrderDetails" />
  <xs:complexType name="OrderDetails">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence>
          <xs:element name="distributionProtocol" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="DistributionProtocol" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="distributionCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Distribution" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="orderItemCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="OrderItem" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="comment" type="xs:string" />
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="requestedDate" type="xs:dateTime" />
        <xs:attribute name="status" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TransferEventParameters" type="TransferEventParameters" />
  <xs:complexType name="TransferEventParameters">
    <xs:complexContent>
      <xs:extension base="SpecimenEventParameters">
        <xs:sequence>
          <xs:element name="toStorageContainer" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="StorageContainer" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="fromStorageContainer" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="StorageContainer" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="fromPositionDimensionOne" type="xs:integer" />
        <xs:attribute name="fromPositionDimensionTwo" type="xs:integer" />
        <xs:attribute name="toPositionDimensionOne" type="xs:integer" />
        <xs:attribute name="toPositionDimensionTwo" type="xs:integer" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TissueSpecimenReviewEventParameters" type="TissueSpecimenReviewEventParameters" />
  <xs:complexType name="TissueSpecimenReviewEventParameters">
    <xs:complexContent>
      <xs:extension base="ReviewEventParameters">
        <xs:sequence />
        <xs:attribute name="histologicalQuality" type="xs:string" />
        <xs:attribute name="lymphocyticPercentage" type="xs:double" />
        <xs:attribute name="necrosisPercentage" type="xs:double" />
        <xs:attribute name="neoplasticCellularityPercentage" type="xs:double" />
        <xs:attribute name="totalCellularityPercentage" type="xs:double" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SpecimenArray" type="SpecimenArray" />
  <xs:complexType name="SpecimenArray">
    <xs:complexContent>
      <xs:extension base="Container">
        <xs:sequence>
          <xs:element name="createdBy" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="User" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="specimenArrayType" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SpecimenArrayType" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="specimenArrayContentCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SpecimenArrayContent" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="newSpecimenArrayOrderItemCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="NewSpecimenArrayOrderItem" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="available" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FluidSpecimenReviewEventParameters" type="FluidSpecimenReviewEventParameters" />
  <xs:complexType name="FluidSpecimenReviewEventParameters">
    <xs:complexContent>
      <xs:extension base="ReviewEventParameters">
        <xs:sequence />
        <xs:attribute name="cellCount" type="xs:double" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SpunEventParameters" type="SpunEventParameters" />
  <xs:complexType name="SpunEventParameters">
    <xs:complexContent>
      <xs:extension base="SpecimenEventParameters">
        <xs:sequence />
        <xs:attribute name="durationInMinutes" type="xs:integer" />
        <xs:attribute name="gravityForce" type="xs:double" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SpecimenRequirement" type="SpecimenRequirement" />
  <xs:complexType name="SpecimenRequirement">
    <xs:complexContent>
      <xs:extension base="AbstractSpecimen">
        <xs:sequence>
          <xs:element name="specimenCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Specimen" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="creationEvent" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="edu.wustl.catissuecore.domain.sop.ws:Action" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="processingSOP" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="edu.wustl.catissuecore.domain.sop.ws:SOP" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="collectionProtocolEvent" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="CollectionProtocolEvent" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="labelFormat" type="xs:string" />
        <xs:attribute name="storageType" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DistributionProtocol" type="DistributionProtocol" />
  <xs:complexType name="DistributionProtocol">
    <xs:complexContent>
      <xs:extension base="SpecimenProtocol">
        <xs:sequence>
          <xs:element name="distributionSpecimenRequirementCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="DistributionSpecimenRequirement" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="collectionProtocolCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="CollectionProtocol" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SpecimenArrayContent" type="SpecimenArrayContent" />
  <xs:complexType name="SpecimenArrayContent">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence>
          <xs:element name="specimen" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Specimen" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="specimenArray" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SpecimenArray" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="concentrationInMicrogramPerMicroliter" type="xs:double" />
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="initialQuantity" type="xs:double" />
        <xs:attribute name="positionDimensionOne" type="xs:integer" />
        <xs:attribute name="positionDimensionTwo" type="xs:integer" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Race" type="Race" />
  <xs:complexType name="Race">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence>
          <xs:element name="participant" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Participant" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="raceName" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SpecimenProtocol" type="SpecimenProtocol" abstract="true" />
  <xs:complexType name="SpecimenProtocol">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence>
          <xs:element name="irbSite" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Site" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="principalInvestigator" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="User" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="title" type="xs:string" />
        <xs:attribute name="shortTitle" type="xs:string" />
        <xs:attribute name="irbIdentifier" type="xs:string" />
        <xs:attribute name="startDate" type="xs:dateTime" />
        <xs:attribute name="endDate" type="xs:dateTime" />
        <xs:attribute name="enrollment" type="xs:integer" />
        <xs:attribute name="descriptionURL" type="xs:string" />
        <xs:attribute name="activityStatus" type="xs:string" />
        <xs:attribute name="specimenLabelFormat" type="xs:string" />
        <xs:attribute name="derivativeLabelFormat" type="xs:string" />
        <xs:attribute name="aliquotLabelFormat" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CollectionProtocolRegistration" type="CollectionProtocolRegistration" />
  <xs:complexType name="CollectionProtocolRegistration">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence>
          <xs:element name="specimenCollectionGroupCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SpecimenCollectionGroup" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="consentTierResponseCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ConsentTierResponse" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="collectionProtocol" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="CollectionProtocol" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="consentWitness" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="User" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="participant" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Participant" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="activityStatus" type="xs:string" />
        <xs:attribute name="barcode" type="xs:string" />
        <xs:attribute name="consentSignatureDate" type="xs:dateTime" />
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="offset" type="xs:integer" />
        <xs:attribute name="protocolParticipantIdentifier" type="xs:string" />
        <xs:attribute name="registrationDate" type="xs:dateTime" />
        <xs:attribute name="signedConsentDocumentURL" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsentTier" type="ConsentTier" />
  <xs:complexType name="ConsentTier">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence />
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="statement" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DistributedItem" type="DistributedItem" />
  <xs:complexType name="DistributedItem">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence>
          <xs:element name="specimenArray" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SpecimenArray" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="distribution" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Distribution" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="specimen" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Specimen" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="quantity" type="xs:double" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SpecimenArrayType" type="SpecimenArrayType" />
  <xs:complexType name="SpecimenArrayType">
    <xs:complexContent>
      <xs:extension base="ContainerType">
        <xs:sequence>
          <xs:element name="specimenTypeCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="specimenClass" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CellSpecimenReviewParameters" type="CellSpecimenReviewParameters" />
  <xs:complexType name="CellSpecimenReviewParameters">
    <xs:complexContent>
      <xs:extension base="ReviewEventParameters">
        <xs:sequence />
        <xs:attribute name="neoplasticCellularityPercentage" type="xs:double" />
        <xs:attribute name="viableCellPercentage" type="xs:double" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProcedureEventParameters" type="ProcedureEventParameters" />
  <xs:complexType name="ProcedureEventParameters">
    <xs:complexContent>
      <xs:extension base="SpecimenEventParameters">
        <xs:sequence />
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="url" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsentTierStatus" type="ConsentTierStatus" />
  <xs:complexType name="ConsentTierStatus">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence>
          <xs:element name="consentTier" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ConsentTier" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="status" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SpecimenPosition" type="SpecimenPosition" />
  <xs:complexType name="SpecimenPosition">
    <xs:complexContent>
      <xs:extension base="AbstractPosition">
        <xs:sequence>
          <xs:element name="specimen" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Specimen" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="storageContainer" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="StorageContainer" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CellSpecimen" type="CellSpecimen" />
  <xs:complexType name="CellSpecimen">
    <xs:complexContent>
      <xs:extension base="Specimen">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Specimen" type="Specimen" />
  <xs:complexType name="Specimen">
    <xs:complexContent>
      <xs:extension base="AbstractSpecimen">
        <xs:sequence>
          <xs:element name="consentTierStatusCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ConsentTierStatus" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="externalIdentifierCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ExternalIdentifier" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="specimenPosition" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SpecimenPosition" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="specimenRecordEntryCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="edu.wustl.catissuecore.domain.deintegration.ws:SpecimenRecordEntry" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="specimenRequirement" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SpecimenRequirement" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="actionApplicationCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="edu.wustl.catissuecore.domain.sop.ws:ActionApplication" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="biohazardCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Biohazard" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="specimenCollectionGroup" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SpecimenCollectionGroup" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="creationEventAction" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="edu.wustl.catissuecore.domain.sop.ws:ActionApplication" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="processingSOPApplication" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="edu.wustl.catissuecore.domain.sop.ws:SOPApplication" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="activityStatus" type="xs:string" />
        <xs:attribute name="availableQuantity" type="xs:double" />
        <xs:attribute name="barcode" type="xs:string" />
        <xs:attribute name="collectionStatus" type="xs:string" />
        <xs:attribute name="comment" type="xs:string" />
        <xs:attribute name="createdOn" type="xs:dateTime" />
        <xs:attribute name="isAvailable" type="xs:boolean" />
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute name="globalSpecimenIdentifier" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PathologicalCaseOrderItem" type="PathologicalCaseOrderItem" />
  <xs:complexType name="PathologicalCaseOrderItem">
    <xs:complexContent>
      <xs:extension base="NewSpecimenOrderItem">
        <xs:sequence>
          <xs:element name="specimenCollectionGroup" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SpecimenCollectionGroup" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="pathologicalStatus" type="xs:string" />
        <xs:attribute name="tissueSite" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TissueSpecimen" type="TissueSpecimen" />
  <xs:complexType name="TissueSpecimen">
    <xs:complexContent>
      <xs:extension base="Specimen">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Department" type="Department" />
  <xs:complexType name="Department">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence />
        <xs:attribute name="dirtyEditFlag" type="xs:boolean" />
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="remoteId" type="xs:long" />
        <xs:attribute name="remoteManagedFlag" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Distribution" type="Distribution" />
  <xs:complexType name="Distribution">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence>
          <xs:element name="distributionProtocol" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="DistributionProtocol" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="orderDetails" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="OrderDetails" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="toSite" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Site" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="distributedItemCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="DistributedItem" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="distributedBy" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="User" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="activityStatus" type="xs:string" />
        <xs:attribute name="comment" type="xs:string" />
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="timestamp" type="xs:dateTime" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExistingSpecimenOrderItem" type="ExistingSpecimenOrderItem" />
  <xs:complexType name="ExistingSpecimenOrderItem">
    <xs:complexContent>
      <xs:extension base="SpecimenOrderItem">
        <xs:sequence>
          <xs:element name="specimen" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Specimen" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TissueSpecimenRequirement" type="TissueSpecimenRequirement" />
  <xs:complexType name="TissueSpecimenRequirement">
    <xs:complexContent>
      <xs:extension base="SpecimenRequirement">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AbstractSpecimenCollectionGroup" type="AbstractSpecimenCollectionGroup" abstract="true" />
  <xs:complexType name="AbstractSpecimenCollectionGroup">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence>
          <xs:element name="specimenCollectionSite" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Site" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="clinicalDiagnosis" type="xs:string" />
        <xs:attribute name="clinicalStatus" type="xs:string" />
        <xs:attribute name="activityStatus" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Container" type="Container" />
  <xs:complexType name="Container">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence>
          <xs:element name="occupiedPositions" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ContainerPosition" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="locatedAtPosition" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ContainerPosition" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="capacity" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Capacity" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="activityStatus" type="xs:string" />
        <xs:attribute name="barcode" type="xs:string" />
        <xs:attribute name="comment" type="xs:string" />
        <xs:attribute name="full" type="xs:boolean" />
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="name" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StorageType" type="StorageType" />
  <xs:complexType name="StorageType">
    <xs:complexContent>
      <xs:extension base="ContainerType">
        <xs:sequence>
          <xs:element name="holdsSpecimenClassCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="holdsSpecimenTypeCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="holdsStorageTypeCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="StorageType" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="holdsSpecimenArrayTypeCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SpecimenArrayType" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="defaultTemperatureInCentigrade" type="xs:double" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Capacity" type="Capacity" />
  <xs:complexType name="Capacity">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence />
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="oneDimensionCapacity" type="xs:integer" />
        <xs:attribute name="twoDimensionCapacity" type="xs:integer" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SpecimenCollectionGroup" type="SpecimenCollectionGroup" />
  <xs:complexType name="SpecimenCollectionGroup">
    <xs:complexContent>
      <xs:extension base="AbstractSpecimenCollectionGroup">
        <xs:sequence>
          <xs:element name="identifiedSurgicalPathologyReport" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="edu.wustl.catissuecore.domain.pathology.ws:IdentifiedSurgicalPathologyReport" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="specimenEventParametersCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SpecimenEventParameters" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="sopApplicationCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="edu.wustl.catissuecore.domain.sop.ws:SOPApplication" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="collectionProtocolEvent" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="CollectionProtocolEvent" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="actionApplicationCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="edu.wustl.catissuecore.domain.sop.ws:ActionApplication" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="collectionProtocolRegistration" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="CollectionProtocolRegistration" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="deIdentifiedSurgicalPathologyReport" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="edu.wustl.catissuecore.domain.pathology.ws:DeidentifiedSurgicalPathologyReport" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="consentTierStatusCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ConsentTierStatus" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="scgRecordEntryCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="edu.wustl.catissuecore.domain.deintegration.ws:SCGRecordEntry" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="specimenCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Specimen" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="barcode" type="xs:string" />
        <xs:attribute name="collectionStatus" type="xs:string" />
        <xs:attribute name="comment" type="xs:string" />
        <xs:attribute name="encounterTimestamp" type="xs:dateTime" />
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="offset" type="xs:integer" />
        <xs:attribute name="surgicalPathologyNumber" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SpecimenEventParameters" type="SpecimenEventParameters" abstract="true" />
  <xs:complexType name="SpecimenEventParameters">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence>
          <xs:element name="user" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="User" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="specimenCollectionGroup" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SpecimenCollectionGroup" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="specimen" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="AbstractSpecimen" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="timestamp" type="xs:dateTime" />
        <xs:attribute name="comment" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Institution" type="Institution" />
  <xs:complexType name="Institution">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence />
        <xs:attribute name="dirtyEditFlag" type="xs:boolean" />
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="remoteId" type="xs:long" />
        <xs:attribute name="remoteManagedFlag" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ThawEventParameters" type="ThawEventParameters" />
  <xs:complexType name="ThawEventParameters">
    <xs:complexContent>
      <xs:extension base="SpecimenEventParameters">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NewSpecimenOrderItem" type="NewSpecimenOrderItem" />
  <xs:complexType name="NewSpecimenOrderItem">
    <xs:complexContent>
      <xs:extension base="SpecimenOrderItem">
        <xs:sequence />
        <xs:attribute name="specimenClass" type="xs:string" />
        <xs:attribute name="specimenType" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DistributionSpecimenRequirement" type="DistributionSpecimenRequirement" />
  <xs:complexType name="DistributionSpecimenRequirement">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence>
          <xs:element name="distributionProtocol" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="DistributionProtocol" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="pathologyStatus" type="xs:string" />
        <xs:attribute name="quantity" type="xs:double" />
        <xs:attribute name="specimenClass" type="xs:string" />
        <xs:attribute name="specimenType" type="xs:string" />
        <xs:attribute name="tissueSite" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DerivedSpecimenOrderItem" type="DerivedSpecimenOrderItem" />
  <xs:complexType name="DerivedSpecimenOrderItem">
    <xs:complexContent>
      <xs:extension base="NewSpecimenOrderItem">
        <xs:sequence>
          <xs:element name="parentSpecimen" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Specimen" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MolecularSpecimenReviewParameters" type="MolecularSpecimenReviewParameters" />
  <xs:complexType name="MolecularSpecimenReviewParameters">
    <xs:complexContent>
      <xs:extension base="ReviewEventParameters">
        <xs:sequence />
        <xs:attribute name="absorbanceAt260" type="xs:double" />
        <xs:attribute name="absorbanceAt280" type="xs:double" />
        <xs:attribute name="gelImageURL" type="xs:string" />
        <xs:attribute name="gelNumber" type="xs:integer" />
        <xs:attribute name="laneNumber" type="xs:string" />
        <xs:attribute name="qualityIndex" type="xs:string" />
        <xs:attribute name="ratio28STo18S" type="xs:double" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CancerResearchGroup" type="CancerResearchGroup" />
  <xs:complexType name="CancerResearchGroup">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence />
        <xs:attribute name="dirtyEditFlag" type="xs:boolean" />
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="remoteId" type="xs:long" />
        <xs:attribute name="remoteManagedFlag" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CheckInCheckOutEventParameter" type="CheckInCheckOutEventParameter" />
  <xs:complexType name="CheckInCheckOutEventParameter">
    <xs:complexContent>
      <xs:extension base="SpecimenEventParameters">
        <xs:sequence />
        <xs:attribute name="storageStatus" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StorageContainer" type="StorageContainer" />
  <xs:complexType name="StorageContainer">
    <xs:complexContent>
      <xs:extension base="Container">
        <xs:sequence>
          <xs:element name="holdsSpecimenTypeCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="holdsSpecimenClassCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="site" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Site" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="holdsStorageTypeCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="StorageType" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="holdsSpecimenArrayTypeCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SpecimenArrayType" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="storageType" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="StorageType" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="collectionProtocolCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="CollectionProtocol" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="specimenPositionCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SpecimenPosition" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="temperatureInCentigrade" type="xs:double" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsentTierResponse" type="ConsentTierResponse" />
  <xs:complexType name="ConsentTierResponse">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence>
          <xs:element name="consentTier" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ConsentTier" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="response" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReviewEventParameters" type="ReviewEventParameters" abstract="true" />
  <xs:complexType name="ReviewEventParameters">
    <xs:complexContent>
      <xs:extension base="SpecimenEventParameters">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FixedEventParameters" type="FixedEventParameters" />
  <xs:complexType name="FixedEventParameters">
    <xs:complexContent>
      <xs:extension base="SpecimenEventParameters">
        <xs:sequence />
        <xs:attribute name="durationInMinutes" type="xs:integer" />
        <xs:attribute name="fixationType" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SpecimenOrderItem" type="SpecimenOrderItem" />
  <xs:complexType name="SpecimenOrderItem">
    <xs:complexContent>
      <xs:extension base="OrderItem">
        <xs:sequence>
          <xs:element name="newSpecimenArrayOrderItem" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="NewSpecimenArrayOrderItem" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MolecularSpecimenRequirement" type="MolecularSpecimenRequirement" />
  <xs:complexType name="MolecularSpecimenRequirement">
    <xs:complexContent>
      <xs:extension base="SpecimenRequirement">
        <xs:sequence />
        <xs:attribute name="concentrationInMicrogramPerMicroliter" type="xs:double" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CollectionEventParameters" type="CollectionEventParameters" />
  <xs:complexType name="CollectionEventParameters">
    <xs:complexContent>
      <xs:extension base="SpecimenEventParameters">
        <xs:sequence />
        <xs:attribute name="collectionProcedure" type="xs:string" />
        <xs:attribute name="container" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Biohazard" type="Biohazard" />
  <xs:complexType name="Biohazard">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence>
          <xs:element name="specimenCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Specimen" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="comment" type="xs:string" />
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="type" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CollectionProtocol" type="CollectionProtocol" />
  <xs:complexType name="CollectionProtocol">
    <xs:complexContent>
      <xs:extension base="SpecimenProtocol">
        <xs:sequence>
          <xs:element name="childCollectionProtocolCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="CollectionProtocol" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="parentCollectionProtocol" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="CollectionProtocol" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="collectionProtocolRegistrationCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="CollectionProtocolRegistration" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="distributionProtocolCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="DistributionProtocol" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="clinicalDiagnosisCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ClinicalDiagnosis" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="assignedProtocolUserCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="User" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="studyFormContextCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="StudyFormContext" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="collectionProtocolEventCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="CollectionProtocolEvent" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="siteCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Site" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="coordinatorCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="User" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="consentTierCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ConsentTier" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="aliquotInSameContainer" type="xs:boolean" />
        <xs:attribute name="consentsWaived" type="xs:boolean" />
        <xs:attribute name="dirtyEditFlag" type="xs:boolean" />
        <xs:attribute name="remoteId" type="xs:long" />
        <xs:attribute name="sequenceNumber" type="xs:integer" />
        <xs:attribute name="studyCalendarEventPoint" type="xs:double" />
        <xs:attribute name="type" type="xs:string" />
        <xs:attribute name="unsignedConsentDocumentURL" type="xs:string" />
        <xs:attribute name="remoteManagedFlag" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DisposalEventParameters" type="DisposalEventParameters" />
  <xs:complexType name="DisposalEventParameters">
    <xs:complexContent>
      <xs:extension base="SpecimenEventParameters">
        <xs:sequence />
        <xs:attribute name="activityStatus" type="xs:string" />
        <xs:attribute name="reason" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EmbeddedEventParameters" type="EmbeddedEventParameters" />
  <xs:complexType name="EmbeddedEventParameters">
    <xs:complexContent>
      <xs:extension base="SpecimenEventParameters">
        <xs:sequence />
        <xs:attribute name="embeddingMedium" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Participant" type="Participant" />
  <xs:complexType name="Participant">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence>
          <xs:element name="raceCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Race" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="participantMedicalIdentifierCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ParticipantMedicalIdentifier" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="participantRecordEntryCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="edu.wustl.catissuecore.domain.deintegration.ws:ParticipantRecordEntry" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="collectionProtocolRegistrationCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="CollectionProtocolRegistration" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="activityStatus" type="xs:string" />
        <xs:attribute name="birthDate" type="xs:dateTime" />
        <xs:attribute name="deathDate" type="xs:dateTime" />
        <xs:attribute name="ethnicity" type="xs:string" />
        <xs:attribute name="firstName" type="xs:string" />
        <xs:attribute name="gender" type="xs:string" />
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="lastName" type="xs:string" />
        <xs:attribute name="metaPhoneCode" type="xs:string" />
        <xs:attribute name="middleName" type="xs:string" />
        <xs:attribute name="sexGenotype" type="xs:string" />
        <xs:attribute name="socialSecurityNumber" type="xs:string" />
        <xs:attribute name="vitalStatus" type="xs:string" />
        <xs:attribute name="gridId" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Address" type="Address" />
  <xs:complexType name="Address">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence />
        <xs:attribute name="city" type="xs:string" />
        <xs:attribute name="country" type="xs:string" />
        <xs:attribute name="faxNumber" type="xs:string" />
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="phoneNumber" type="xs:string" />
        <xs:attribute name="state" type="xs:string" />
        <xs:attribute name="street" type="xs:string" />
        <xs:attribute name="zipCode" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CollectionProtocolEvent" type="CollectionProtocolEvent" />
  <xs:complexType name="CollectionProtocolEvent">
    <xs:complexContent>
      <xs:extension base="AbstractSpecimenCollectionGroup">
        <xs:sequence>
          <xs:element name="sopCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="edu.wustl.catissuecore.domain.sop.ws:SOP" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="collectionProtocol" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="CollectionProtocol" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="specimenCollectionGroupCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SpecimenCollectionGroup" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="specimenRequirementCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SpecimenRequirement" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="collectionPointLabel" type="xs:string" />
        <xs:attribute name="labelFormat" type="xs:string" />
        <xs:attribute name="studyCalendarEventPoint" type="xs:double" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AbstractSpecimen" type="AbstractSpecimen" abstract="true" />
  <xs:complexType name="AbstractSpecimen">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence>
          <xs:element name="childSpecimenCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="AbstractSpecimen" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="parentSpecimen" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="AbstractSpecimen" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="specimenCharacteristics" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SpecimenCharacteristics" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="specimenEventCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SpecimenEventParameters" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="initialQuantity" type="xs:double" />
        <xs:attribute name="lineage" type="xs:string" />
        <xs:attribute name="pathologicalStatus" type="xs:string" />
        <xs:attribute name="specimenClass" type="xs:string" />
        <xs:attribute name="specimenType" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExistingSpecimenArrayOrderItem" type="ExistingSpecimenArrayOrderItem" />
  <xs:complexType name="ExistingSpecimenArrayOrderItem">
    <xs:complexContent>
      <xs:extension base="SpecimenArrayOrderItem">
        <xs:sequence>
          <xs:element name="specimenArray" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SpecimenArray" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

