software/caTissue/modules/core/src/main/resources/xml/SOP.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="SPP" type="SPPType" />
  <xsd:complexType name="SPPType">
    <xsd:sequence>
      <xsd:element name="event" type="eventType" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="eventType">
    <xsd:sequence>
      <xsd:element name="barcode" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="order" type="xsd:long" />
      <xsd:element name="entityGroupName" type="xsd:string" />
      <xsd:element name="unique_id" type="xsd:string" />
      <xsd:element name="activity" type="xsd:string" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" />
  </xsd:complexType>
</xsd:schema>