software/caTissue/modules/core/src/main/resources/xml/SPP.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="SPP" type="SPPType" />
  <xsd:complexType name="SPPType">
    <xsd:sequence>
      <xsd:element name="event" type="eventType" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="eventType">
    <xsd:annotation>
      <xsd:documentation>
        Name of the event which will part of the SPP. User can use Local Extensions UI feature (refer to ???) or Dynamic Extensions Import_XMI(refer to ???) option to create new event
      </xsd:documentation>
    </xsd:annotation>

    <xsd:sequence>
      <xsd:element name="barcode" type="xsd:string" minOccurs="0" maxOccurs="1" >
        <xsd:annotation>
          <xsd:documentation>
            Barcode for event within the SPP.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="order" type="xsd:long" >
        <xsd:annotation>
          <xsd:documentation>
            Order of execution of the events for the SPP.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="entityGroupName" type="xsd:string" >
        <xsd:annotation>
          <xsd:documentation>
            Entity group to which event is associated. While defining events using dynamic extensions feature, user has to define
            the events as part of a group called entity group.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="unique_id" type="xsd:string" >
        <xsd:annotation>
          <xsd:documentation>
            Unique identifier of event within SPP. While updating the SPP, this unique identifier is useful as the user might want to do the
            following:
            Remove a particular event from SPP
            Change the order or barcode
            Add a new event as part of SPP
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="activity" type="xsd:string" minOccurs="0" maxOccurs="1" >
        <xsd:annotation>
          <xsd:documentation>
            This represents the activity status of event within SPP. Default value is Active, user can specify Disabled if they want to remove
            that event from the SPP during edit operation.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" >
      <xsd:annotation>
        <xsd:documentation>
          Name of the processing event.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
</xsd:schema>