software/caTissue/modules/NotificationService/wsrf/share/schema/core/tests/security/security_test_flattened.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SecurityTest" targetNamespace="http://wsrf.globus.org/tests/security" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:tns="http://wsrf.globus.org/tests/security" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" location="../../../wsrf/lifetime/WS-ResourceLifetime.wsdl"/>
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../../../wsrf/properties/WS-ResourceProperties.wsdl"/>
  <import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../../../wsrf/notification/WS-BaseN.wsdl"/>
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://wsrf.globus.org/tests/security" xmlns:rpns0="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.xsd" xmlns:tns="http://wsrf.globus.org/tests/security" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.xsd" schemaLocation="../../../wsrf/notification/WS-BaseN.xsd"/>


            <xsd:import namespace="http://schemas.xmlsoap.org/ws/2004/03/addressing" schemaLocation="../../../ws/addressing/WS-Addressing.xsd"/>

        <xsd:element name="TestRP">
                <xsd:complexType>
                        <xsd:sequence>
                                <xsd:element maxOccurs="1" minOccurs="1" ref="tns:Value"/>
                        
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="rpns0:Topic"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="rpns0:TopicExpressionDialects"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="rpns0:FixedTopicSet"/>
          </xsd:sequence>
                </xsd:complexType>
        </xsd:element>

        <xsd:element name="Value" type="xsd:int"/>

        <xsd:element name="noAuthRequest">
                <xsd:complexType>
                        <xsd:sequence>
                                <xsd:element name="authzService" type="xsd:string"/>
                                <xsd:element name="authzServiceIdentity" type="xsd:string"/>
                        </xsd:sequence>
                </xsd:complexType>
        </xsd:element>

        <xsd:element name="noAuthResponse">
                <xsd:complexType/>
        </xsd:element>
        <xsd:element name="gsiTransportOnly">
                <xsd:complexType/>
        </xsd:element>
        <xsd:element name="gsiTransportOnlyResponse">
                <xsd:complexType/>
        </xsd:element>
        <xsd:element name="gsiTransportIntegrity">
                <xsd:complexType/>
        </xsd:element>
        <xsd:element name="gsiTransportIntegrityResponse">
                <xsd:complexType/>
        </xsd:element>
        <xsd:element name="gsiTransportPrivacy">
                <xsd:complexType/>
        </xsd:element>
        <xsd:element name="gsiTransportPrivacyResponse">
                <xsd:complexType/>
        </xsd:element>
        <xsd:element name="gsiSecConvOnly">
                <xsd:complexType/>
        </xsd:element>
        <xsd:element name="gsiSecConvOnlyResponse">
                <xsd:complexType/>
        </xsd:element>
        <xsd:element name="gsiSecConvIntegrity">
                <xsd:complexType/>
        </xsd:element>
        <xsd:element name="gsiSecConvIntegrityResponse">
                <xsd:complexType/>
        </xsd:element>
        <xsd:element name="gsiSecConvPrivacy">
                <xsd:complexType/>
        </xsd:element>
        <xsd:element name="gsiSecConvPrivacyResponse">
                <xsd:complexType/>
        </xsd:element>
        <xsd:element name="gsiSecConvDeleg">
                <xsd:complexType/>
        </xsd:element>
        <xsd:element name="gsiSecConvDelegResponse">
                <xsd:complexType/>
        </xsd:element>
        <xsd:element name="gsiSecMsgOnly">
                <xsd:complexType/>
        </xsd:element>
        <xsd:element name="gsiSecMsgOnlyResponse">
                <xsd:complexType/>
        </xsd:element>
        <xsd:element name="gsiSecMsgPrivacy">
                <xsd:complexType/>
        </xsd:element>
        <xsd:element name="gsiSecMsgPrivacyResponse">
                <xsd:complexType/>
        </xsd:element>
        <xsd:element name="gsiSecMsgIntegrity">
                <xsd:complexType/>
        </xsd:element>
        <xsd:element name="gsiSecMsgIntegrityResponse">
                <xsd:complexType/>
        </xsd:element>
        <xsd:element name="gsiSec">
                <xsd:complexType/>
        </xsd:element>
        <xsd:element name="gsiSecResponse">
                <xsd:complexType/>
        </xsd:element>
        <xsd:element name="createResource" type="xsd:boolean"/>
        <xsd:element name="createResourceResponse">
               <xsd:complexType>
                 <xsd:sequence> 
                   <xsd:element ref="wsa:EndpointReference"/>
                 </xsd:sequence>
              </xsd:complexType>
        </xsd:element>
        <xsd:element name="alterSecurityDescRequest" type="xsd:string"/>
        <xsd:element name="alterSecurityDescResponse">
                <xsd:complexType/>
        </xsd:element>
        <xsd:element name="setAuthz" type="xsd:string"/>
        <xsd:element name="setAuthzResponse">
                <xsd:complexType/>
        </xsd:element>
        <xsd:element name="setAnonymousAuthz">
                <xsd:complexType/>
        </xsd:element>                
        <xsd:element name="setAnonymousAuthzResponse">
                <xsd:complexType/>
        </xsd:element>
        <xsd:element name="setValue" type="xsd:int"/>
        <xsd:element name="setValueResponse">
                <xsd:complexType/>
        </xsd:element>
        <xsd:element name="getValue">
                <xsd:complexType/>
        </xsd:element>
        <xsd:element name="getValueResponse" type="xsd:int"/>
        <xsd:element name="setServiceAuthz" type="xsd:string"/>
        <xsd:element name="setServiceAuthzOutput">
                <xsd:complexType/>
        </xsd:element>
        <xsd:element name="getSecurityProperty" type="xsd:string"/>
        <xsd:element name="getSecurityPropertyOutput" type="xsd:string"/>
  </xsd:schema>
  </types>
  <message name="getSecurityPropertyOutputMessage">
    <part name="parameters" element="tns:getSecurityPropertyOutput"/>
  </message>
  <message name="gsiSecConvDelegInputMessage">
    <part name="parameters" element="tns:gsiSecConvDeleg"/>
  </message>
  <message name="gsiSecMsgIntegrityOutputMessage">
    <part name="parameters" element="tns:gsiSecMsgIntegrityResponse"/>
  </message>
  <message name="noAuthOutputMessage">
    <part name="parameters" element="tns:noAuthResponse"/>
  </message>
  <message name="gsiSecMsgPrivacyInputMessage">
    <part name="parameters" element="tns:gsiSecMsgPrivacy"/>
  </message>
  <message name="gsiSecConvIntegrityOutputMessage">
    <part name="parameters" element="tns:gsiSecConvIntegrityResponse"/>
  </message>
  <message name="gsiSecConvDelegOutputMessage">
    <part name="parameters" element="tns:gsiSecConvDelegResponse"/>
  </message>
  <message name="setServiceAuthzInputMessage">
    <part name="parameters" element="tns:setServiceAuthz"/>
  </message>
  <message name="setValueInputMessage">
    <part name="parameters" element="tns:setValue"/>
  </message>
  <message name="alterSecurityDescInputMessage">
    <part name="parameters" element="tns:alterSecurityDescRequest"/>
  </message>
  <message name="getValueOutputMessage">
    <part name="parameters" element="tns:getValueResponse"/>
  </message>
  <message name="setAnonymousAuthzInputMessage">
    <part name="parameters" element="tns:setAnonymousAuthz"/>
  </message>
  <message name="alterSecurityDescOutputMessage">
    <part name="parameters" element="tns:alterSecurityDescResponse"/>
  </message>
  <message name="gsiTransportOnlyInputMessage">
    <part name="parameters" element="tns:gsiTransportOnly"/>
  </message>
  <message name="gsiSecConvPrivacyInputMessage">
    <part name="parameters" element="tns:gsiSecConvPrivacy"/>
  </message>
  <message name="gsiSecMsgIntegrityInputMessage">
    <part name="parameters" element="tns:gsiSecMsgIntegrity"/>
  </message>
  <message name="setValueOutputMessage">
    <part name="parameters" element="tns:setValueResponse"/>
  </message>
  <message name="createResourceInputMessage">
    <part name="parameters" element="tns:createResource"/>
  </message>
  <message name="gsiTransportPrivacyOutputMessage">
    <part name="parameters" element="tns:gsiTransportPrivacyResponse"/>
  </message>
  <message name="noAuthInputMessage">
    <part name="parameters" element="tns:noAuthRequest"/>
  </message>
  <message name="gsiTransportIntegrityOutputMessage">
    <part name="parameters" element="tns:gsiTransportIntegrityResponse"/>
  </message>
  <message name="gsiSecMsgOnlyOutputMessage">
    <part name="parameters" element="tns:gsiSecMsgOnlyResponse"/>
  </message>
  <message name="setAuthzInputMessage">
    <part name="parameters" element="tns:setAuthz"/>
  </message>
  <message name="gsiSecConvOnlyOutputMessage">
    <part name="parameters" element="tns:gsiSecConvOnlyResponse"/>
  </message>
  <message name="setServiceAuthzOutputMessage">
    <part name="parameters" element="tns:setServiceAuthzOutput"/>
  </message>
  <message name="gsiTransportOnlyOutputMessage">
    <part name="parameters" element="tns:gsiTransportOnlyResponse"/>
  </message>
  <message name="gsiSecInputMessage">
    <part name="parameters" element="tns:gsiSec"/>
  </message>
  <message name="setAnonymousAuthzOutputMessage">
    <part name="parameters" element="tns:setAnonymousAuthzResponse"/>
  </message>
  <message name="getSecurityPropertyInputMessage">
    <part name="parameters" element="tns:getSecurityProperty"/>
  </message>
  <message name="gsiSecMsgOnlyInputMessage">
    <part name="parameters" element="tns:gsiSecMsgOnly"/>
  </message>
  <message name="gsiSecConvIntegrityInputMessage">
    <part name="parameters" element="tns:gsiSecConvIntegrity"/>
  </message>
  <message name="gsiTransportPrivacyInputMessage">
    <part name="parameters" element="tns:gsiTransportPrivacy"/>
  </message>
  <message name="gsiSecOutputMessage">
    <part name="parameters" element="tns:gsiSecResponse"/>
  </message>
  <message name="getValueInputMessage">
    <part name="parameters" element="tns:getValue"/>
  </message>
  <message name="gsiTransportIntegrityInputMessage">
    <part name="parameters" element="tns:gsiTransportIntegrity"/>
  </message>
  <message name="gsiSecConvPrivacyOutputMessage">
    <part name="parameters" element="tns:gsiSecConvPrivacyResponse"/>
  </message>
  <message name="gsiSecMsgPrivacyOutputMessage">
    <part name="parameters" element="tns:gsiSecMsgPrivacyResponse"/>
  </message>
  <message name="setAuthzOutputMessage">
    <part name="parameters" element="tns:setAuthzResponse"/>
  </message>
  <message name="createResourceOutputMessage">
    <part name="parameters" element="tns:createResourceResponse"/>
  </message>
  <message name="gsiSecConvOnlyInputMessage">
    <part name="parameters" element="tns:gsiSecConvOnly"/>
  </message>
  <portType name="SecurityTestPortType" wsrp:ResourceProperties="tns:TestRP">
    <operation name="noAuth">
      <input message="tns:noAuthInputMessage"/>
      <output message="tns:noAuthOutputMessage"/>
    </operation>
    <operation name="gsiTransportOnly">
      <input message="tns:gsiTransportOnlyInputMessage"/>
      <output message="tns:gsiTransportOnlyOutputMessage"/>
    </operation>
    <operation name="gsiTransportIntegrity">
      <input message="tns:gsiTransportIntegrityInputMessage"/>
      <output message="tns:gsiTransportIntegrityOutputMessage"/>
    </operation>
    <operation name="gsiTransportPrivacy">
      <input message="tns:gsiTransportPrivacyInputMessage"/>
      <output message="tns:gsiTransportPrivacyOutputMessage"/>
    </operation>
    <operation name="gsiSecConvOnly">
      <input message="tns:gsiSecConvOnlyInputMessage"/>
      <output message="tns:gsiSecConvOnlyOutputMessage"/>
    </operation>
    <operation name="gsiSecConvIntegrity">
      <input message="tns:gsiSecConvIntegrityInputMessage"/>
      <output message="tns:gsiSecConvIntegrityOutputMessage"/>
    </operation>
    <operation name="gsiSecConvPrivacy">
      <input message="tns:gsiSecConvPrivacyInputMessage"/>
      <output message="tns:gsiSecConvPrivacyOutputMessage"/>
    </operation>
    <operation name="gsiSecConvDeleg">
      <input message="tns:gsiSecConvDelegInputMessage"/>
      <output message="tns:gsiSecConvDelegOutputMessage"/>
    </operation>
    <operation name="gsiSecMsgOnly">
      <input message="tns:gsiSecMsgOnlyInputMessage"/>
      <output message="tns:gsiSecMsgOnlyOutputMessage"/>
    </operation>
    <operation name="gsiSecMsgPrivacy">
      <input message="tns:gsiSecMsgPrivacyInputMessage"/>
      <output message="tns:gsiSecMsgPrivacyOutputMessage"/>
    </operation>
    <operation name="gsiSecMsgIntegrity">
      <input message="tns:gsiSecMsgIntegrityInputMessage"/>
      <output message="tns:gsiSecMsgIntegrityOutputMessage"/>
    </operation>
    <operation name="gsiSec">
      <input message="tns:gsiSecInputMessage"/>
      <output message="tns:gsiSecOutputMessage"/>
    </operation>
    <operation name="createResource">
      <input message="tns:createResourceInputMessage"/>
      <output message="tns:createResourceOutputMessage"/>
    </operation>
    <operation name="alterSecurityDesc">
      <input message="tns:alterSecurityDescInputMessage"/>
      <output message="tns:alterSecurityDescOutputMessage"/>
    </operation>
    <operation name="setAuthz">
      <input message="tns:setAuthzInputMessage"/>
      <output message="tns:setAuthzOutputMessage"/>
    </operation>
    <operation name="setAnonymousAuthz">
      <input message="tns:setAnonymousAuthzInputMessage"/>
      <output message="tns:setAnonymousAuthzOutputMessage"/>
    </operation>
    <operation name="setValue">
      <input message="tns:setValueInputMessage"/>
      <output message="tns:setValueOutputMessage"/>
    </operation>
    <operation name="getValue">
      <input message="tns:getValueInputMessage"/>
      <output message="tns:getValueOutputMessage"/>
    </operation>
    <operation name="setServiceAuthz">
      <input message="tns:setServiceAuthzInputMessage"/>
      <output message="tns:setServiceAuthzOutputMessage"/>
    </operation>
    <operation name="getSecurityProperty">
      <input message="tns:getSecurityPropertyInputMessage"/>
      <output message="tns:getSecurityPropertyOutputMessage"/>
    </operation>
    <operation name="GetResourceProperty">
      <input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty"/>
      <output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse"/>
      <fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault"/>
      <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
    </operation>
    <operation name="Subscribe">
      <input message="wsntw:SubscribeRequest" wsa:Action="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification/Subscribe"/>
      <output message="wsntw:SubscribeResponse" wsa:Action="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification/SubscribeResponse"/>
      <fault name="TopicNotSupportedFault" message="wsntw:TopicNotSupportedFault"/>
      <fault name="InvalidTopicExpressionFault" message="wsntw:InvalidTopicExpressionFault"/>
      <fault name="SubscribeCreationFailedFault" message="wsntw:SubscribeCreationFailedFault"/>
      <fault name="ResourceUnknownFault" message="wsntw:ResourceUnknownFault"/>
      <fault name="TopicPathDialectUnknownFault" message="wsntw:TopicPathDialectUnknownFault"/>
    </operation>
    <operation name="GetCurrentMessage">
      <input message="wsntw:GetCurrentMessageRequest" wsa:Action="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification/GetCurrentMessage"/>
      <output message="wsntw:GetCurrentMessageResponse" wsa:Action="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification/GetCurrentMessageResponse"/>
      <fault name="TopicNotSupportedFault" message="wsntw:TopicNotSupportedFault"/>
      <fault name="InvalidTopicExpressionFault" message="wsntw:InvalidTopicExpressionFault"/>
      <fault name="NoCurrentMessageOnTopicFault" message="wsntw:NoCurrentMessageOnTopicFault"/>
      <fault name="ResourceUnknownFault" message="wsntw:ResourceUnknownFault"/>
    </operation>
  </portType>
</definitions>
