software/caTissue/modules/NotificationService/wsrf/share/schema/resolutionService/test/test_counter_port_type.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  Portions of this file Copyright 1999-2005 University of Chicago
  Portions of this file Copyright 1999-2005 The University of Southern California.
  
  This file or a portion of this file is licensed under the
  terms of the Globus Toolkit Public License, found at
  http://www.globus.org/toolkit/download/license.html.
  If you redistribute this file, with or without
  modifications, you must include this notice in the file.
-->
<definitions name="TestCounter"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.globus.org/test/counter"
    xmlns:tns="http://www.globus.org/test/counter"
    xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing">

    <types>
        <xsd:schema 
           targetNamespace="http://www.globus.org/test/counter"
           attributeFormDefault="unqualified"
            elementFormDefault="qualified">

            <xsd:import namespace="http://schemas.xmlsoap.org/ws/2004/03/addressing" schemaLocation="../../ws/addressing/WS-Addressing.xsd"/>

            <xsd:element name="createReq" type="xsd:int"/>

            <xsd:element name="createRes" type="wsa:EndpointReferenceType"/>

            <xsd:element name="getCounterRequest">
                <xsd:complexType/>
            </xsd:element>

            <xsd:element name="getCounterResponse" type="xsd:int"/>

        </xsd:schema>
    </types>

    <message name="createRequest">
        <part name="createRequest" element="tns:createReq"/>
    </message>

    <message name="createResponse">
        <part name="createResponse" element="tns:createRes"/>
    </message>

    <message name="getCounterRequest">
        <part name="getCounterRequest" element="tns:getCounterRequest"/>
    </message>

    <message name="getCounterResponse">
        <part name="getCounterResponse" element="tns:getCounterResponse"/>
    </message>

    <portType name="TestCounter">
	<operation name="create">
	    <input message="tns:createRequest"/>
	    <output message="tns:createResponse"/>
	</operation>

	<operation name="getCounterValue">
	    <input message="tns:getCounterRequest"/>
	    <output message="tns:getCounterResponse"/>
	</operation>
    </portType>

</definitions>
