caTissuePrintWebService/WEB-INF/wsdl/PrintWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name='PrintWebService' targetNamespace='http://print.catissuecore.webservice.wustl.edu/' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://print.catissuecore.webservice.wustl.edu/' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <xs:schema targetNamespace='http://print.catissuecore.webservice.wustl.edu/' version='1.0' xmlns:tns='http://print.catissuecore.webservice.wustl.edu/' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:element name='print' type='tns:print'/>
   <xs:element name='printResponse' type='tns:printResponse'/>
   <xs:complexType name='print'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='printResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='return' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
 </types>
 <message name='PrintService_print'>
  <part element='tns:print' name='print'/>
 </message>
 <message name='PrintService_printResponse'>
  <part element='tns:printResponse' name='printResponse'/>
 </message>
 <portType name='PrintService'>
  <operation name='print' parameterOrder='print'>
   <input message='tns:PrintService_print'/>
   <output message='tns:PrintService_printResponse'/>
  </operation>
 </portType>
 <binding name='PrintServiceBinding' type='tns:PrintService'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='print'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='PrintWebService'>
  <port binding='tns:PrintServiceBinding' name='PrintServicePort'>
   <soap:address location='REPLACE_WITH_ACTUAL_URL'/>
  </port>
 </service>
</definitions>