software/caTissue/modules/NotificationService/wsrf/share/schema/core/management/shutdown_port_type.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  Portions of this file Copyright 1999-2005 University of Chicago
  Portions of this file Copyright 1999-2005 The University of Southern California.
  
  This file or a portion of this file is licensed under the
  terms of the Globus Toolkit Public License, found at
  http://www.globus.org/toolkit/download/license.html.
  If you redistribute this file, with or without
  modifications, you must include this notice in the file.
-->
<definitions name="Shutdown"
    targetNamespace="http://wsrf.globus.org/core/shutdown"
    xmlns:tns="http://wsrf.globus.org/core/shutdown"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <types>
        <xsd:schema 
            targetNamespace="http://wsrf.globus.org/core/shutdown"
            xmlns:tns="http://wsrf.globus.org/core/shutdown"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified">

            <xsd:element name="shutdownRequest" type="xsd:boolean"/>

            <xsd:element name="shutdownResponse">
                <xsd:complexType/>
            </xsd:element>

        </xsd:schema>
    </types>

    <message name="ShutdownRequest">
        <part name="request" element="tns:shutdownRequest"/>
    </message>

    <message name="ShutdownResponse">
        <part name="response" element="tns:shutdownResponse"/>
    </message>

    <portType name="ShutdownPortType">
        <wsdl:operation name="shutdown">
            <wsdl:input  message="tns:ShutdownRequest"/>
            <wsdl:output message="tns:ShutdownResponse"/>
        </wsdl:operation>
    </portType>

</definitions>
