Plus3.1/de_cagrid_services/pathologySpecimen_caGrid_Service/schema/PathologySpecimen/pathology_specimen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caCORE.caCORE/3.2/pathology_specimen" targetNamespace="gme://caCORE.caCORE/3.2/pathology_specimen" elementFormDefault="qualified">
  <xs:element name="SpecimenNottinghamHistologicScore" type="SpecimenNottinghamHistologicScore" />
  <xs:complexType name="SpecimenNottinghamHistologicScore">
    <xs:sequence />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="totalNottinghamScore" type="xs:integer" />
    <xs:attribute name="mitoticCountScore" type="xs:integer" />
    <xs:attribute name="nuclearPleomorphismScore" type="xs:integer" />
    <xs:attribute name="tubuleFormationScore" type="xs:integer" />
  </xs:complexType>
  <xs:element name="BreastSpecimenPathologyAnnotation" type="BreastSpecimenPathologyAnnotation" />
  <xs:complexType name="BreastSpecimenPathologyAnnotation">
    <xs:complexContent>
      <xs:extension base="SpecimenBaseSolidTissuePathologyAnnotation">
        <xs:sequence>
          <xs:element name="breastSpecimenNottinghamHistologicScore" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="BreastSpecimenNottinghamHistologicScore" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="SpecimenRecordEntry_BreastSpecimenPathologyAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SpecimenRecordEntry" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        
        <xs:attribute name="mitoticCountIfOtherGradingSystemUsed" type="xs:long" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CNSSpecimenPathologyAnnotation" type="CNSSpecimenPathologyAnnotation" />
  <xs:complexType name="CNSSpecimenPathologyAnnotation">
    <xs:complexContent>
      <xs:extension base="SpecimenBaseSolidTissuePathologyAnnotation">
        <xs:sequence>
          <xs:element name="SpecimenRecordEntry_CNSSpecimenPathologyAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SpecimenRecordEntry" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ColorectalSpecimenPathologyAnnotation" type="ColorectalSpecimenPathologyAnnotation" />
  <xs:complexType name="ColorectalSpecimenPathologyAnnotation">
    <xs:complexContent>
      <xs:extension base="SpecimenBaseSolidTissuePathologyAnnotation">
        <xs:sequence>
          <xs:element name="SpecimenRecordEntry_ColorectalSpecimenPathologyAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SpecimenRecordEntry" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        
        <xs:attribute name="intratumoralPeritumoralLymphocyticResponse" type="xs:string" />
        <xs:attribute name="tumorBorderConfiguration" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="KidneySpecimenPathologyAnnotation" type="KidneySpecimenPathologyAnnotation" />
  <xs:complexType name="KidneySpecimenPathologyAnnotation">
    <xs:complexContent>
      <xs:extension base="SpecimenBaseSolidTissuePathologyAnnotation">
        <xs:sequence>
          <xs:element name="SpecimenRecordEntry_KidneySpecimenPathologyAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SpecimenRecordEntry" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MelanomaSpecimenPathologyAnnotation" type="MelanomaSpecimenPathologyAnnotation" />
  <xs:complexType name="MelanomaSpecimenPathologyAnnotation">
    <xs:complexContent>
      <xs:extension base="SpecimenBaseSolidTissuePathologyAnnotation">
        <xs:sequence>
          <xs:element name="SpecimenRecordEntry_MelanomaSpecimenPathologyAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SpecimenRecordEntry" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        
        <xs:attribute name="mitoticIndex" type="xs:string" />
        <xs:attribute name="tumorRegression" type="xs:string" />
        <xs:attribute name="tumorInfiltratingLymphocytes" type="xs:string" />
        <xs:attribute name="depthOfInvasionCannotBeDetermined" type="xs:boolean" />
        <xs:attribute name="depthOfInvasion" type="xs:double" />
        <xs:attribute name="ulceration" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SpecimenHistologicGrade" type="SpecimenHistologicGrade" />
  <xs:complexType name="SpecimenHistologicGrade">
    <xs:sequence>
      <xs:element name="specimenBaseSolidTissuePathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="SpecimenBaseSolidTissuePathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="grade" type="xs:string" />
    <xs:attribute name="otherGradingSystemName" type="xs:string" />
    <xs:attribute name="gradingSystemName" type="xs:string" />
  </xs:complexType>
  <xs:element name="SpecimenInvasion" type="SpecimenInvasion" />
  <xs:complexType name="SpecimenInvasion">
    <xs:sequence>
      <xs:element name="specimenBaseSolidTissuePathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="SpecimenBaseSolidTissuePathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="perineuralInvasion" type="xs:string" />
    <xs:attribute name="venousInvasion" type="xs:string" />
    <xs:attribute name="lymphaticInvasion" type="xs:string" />
  </xs:complexType>
  <xs:element name="SpecimenHistologicVariantType" type="SpecimenHistologicVariantType" />
  <xs:complexType name="SpecimenHistologicVariantType">
    <xs:sequence>
      <xs:element name="HistologicType" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="SpecimenHistologicType" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="otherHistologicType" type="xs:string" />
  </xs:complexType>
  <xs:element name="SpecimenHistologicType" type="SpecimenHistologicType" />
  <xs:complexType name="SpecimenHistologicType">
    <xs:sequence>
      <xs:element name="HistologicVariantType" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="SpecimenHistologicVariantType" minOccurs="0" maxOccurs="2" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SpecimenBaseSolidTissuePathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="SpecimenBaseSolidTissuePathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="type" type="xs:string" />
  </xs:complexType>
  <xs:element name="SpecimenBaseSolidTissuePathologyAnnotation" type="SpecimenBaseSolidTissuePathologyAnnotation" />
  <xs:complexType name="SpecimenBaseSolidTissuePathologyAnnotation">
    <xs:sequence>
      <xs:element name="HistologicType" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="SpecimenHistologicType" minOccurs="0" maxOccurs="2" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="histologicGrade" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="SpecimenHistologicGrade" minOccurs="0" maxOccurs="2" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="invasion" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="SpecimenInvasion" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="additionalFinding" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="SpecimenAdditionalFinding" minOccurs="0" maxOccurs="2" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SpecimenRecordEntry_SpecimenBaseSolidTissuePathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="SpecimenRecordEntry" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="comments" type="xs:string" />
  </xs:complexType>
  <xs:element name="SpecimenDetails1" type="SpecimenDetails1" />
  <xs:complexType name="SpecimenDetails1">
    <xs:sequence>
      <xs:element name="additionalPathologicFinding" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="AdditionalPathologicFinding" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="detail" type="xs:string" />
  </xs:complexType>
  <xs:element name="AdditionalPathologicFinding" type="AdditionalPathologicFinding" />
  <xs:complexType name="AdditionalPathologicFinding">
    <xs:sequence>
      <xs:element name="detailsCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="SpecimenDetails1" minOccurs="0" maxOccurs="2" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="comments" type="xs:string" />
  </xs:complexType>
  <xs:element name="PancreasSpecimenPathologyAnnotation" type="PancreasSpecimenPathologyAnnotation" />
  <xs:complexType name="PancreasSpecimenPathologyAnnotation">
    <xs:complexContent>
      <xs:extension base="SpecimenBaseSolidTissuePathologyAnnotation">
        <xs:sequence>
          <xs:element name="SpecimenRecordEntry_PancreasSpecimenPathologyAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SpecimenRecordEntry" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProstateSpecimenPathologyAnnotation" type="ProstateSpecimenPathologyAnnotation" />
  <xs:complexType name="ProstateSpecimenPathologyAnnotation">
    <xs:complexContent>
      <xs:extension base="SpecimenBaseSolidTissuePathologyAnnotation">
        <xs:sequence>
          <xs:element name="prostateSpecimenGleasonScore" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ProstateSpecimenGleasonScore" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="SpecimenRecordEntry_ProstateSpecimenPathologyAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SpecimenRecordEntry" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        
        <xs:attribute name="proportionOrPercentOfProstaticTissueInvolvedByTumor" type="xs:double" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SpecimenGleasonScore" type="SpecimenGleasonScore" />
  <xs:complexType name="SpecimenGleasonScore">
    <xs:sequence />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="tertiaryPatternScore" type="xs:integer" />
    <xs:attribute name="secondaryPatternScore" type="xs:integer" />
    <xs:attribute name="primaryPatternScore" type="xs:integer" />
  </xs:complexType>
  <xs:element name="LungSpecimenPathologyAnnotation" type="LungSpecimenPathologyAnnotation" />
  <xs:complexType name="LungSpecimenPathologyAnnotation">
    <xs:complexContent>
      <xs:extension base="SpecimenBaseSolidTissuePathologyAnnotation">
        <xs:sequence>
          <xs:element name="SpecimenRecordEntry_LungSpecimenPathologyAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SpecimenRecordEntry" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SpecimenAdditionalFinding" type="SpecimenAdditionalFinding" />
  <xs:complexType name="SpecimenAdditionalFinding">
    <xs:sequence>
      <xs:element name="SpecimenBaseSolidTissuePathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="SpecimenBaseSolidTissuePathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Details" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="SpecimenDetails" minOccurs="0" maxOccurs="2" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="pathologicFinding" type="xs:string" />
  </xs:complexType>
  <xs:element name="SpecimenDetails" type="SpecimenDetails" />
  <xs:complexType name="SpecimenDetails">
    <xs:sequence>
      <xs:element name="AdditionalFinding" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="SpecimenAdditionalFinding" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="details" type="xs:string" />
  </xs:complexType>
  <xs:element name="ProstateSpecimenGleasonScore" type="ProstateSpecimenGleasonScore" />
  <xs:complexType name="ProstateSpecimenGleasonScore">
    <xs:sequence>
      <xs:element name="prostateSpecimenPathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ProstateSpecimenPathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="tertiaryPatternScore" type="xs:string" />
    <xs:attribute name="secondaryPatternScore" type="xs:string" />
    <xs:attribute name="primaryPatternScore" type="xs:string" />
  </xs:complexType>
  <xs:element name="BreastSpecimenNottinghamHistologicScore" type="BreastSpecimenNottinghamHistologicScore" />
  <xs:complexType name="BreastSpecimenNottinghamHistologicScore">
    <xs:sequence>
      <xs:element name="breastSpecimenPathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="BreastSpecimenPathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="totalNottinghamScore" type="xs:long" />
    <xs:attribute name="mitoticCountScore" type="xs:string" />
    <xs:attribute name="nuclearPleomorphismScore" type="xs:string" />
    <xs:attribute name="tubuleFormationScore" type="xs:string" />
  </xs:complexType>
  <xs:element name="SpecimenRecordEntry" type="SpecimenRecordEntry" />
  <xs:complexType name="SpecimenRecordEntry">
    <xs:sequence>
      <xs:element name="ProstateSpecimenPathologyAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ProstateSpecimenPathologyAnnotation" minOccurs="0" maxOccurs="2" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="MelanomaSpecimenPathologyAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="MelanomaSpecimenPathologyAnnotation" minOccurs="0" maxOccurs="2" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="KidneySpecimenPathologyAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="KidneySpecimenPathologyAnnotation" minOccurs="0" maxOccurs="2" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="LungSpecimenPathologyAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="LungSpecimenPathologyAnnotation" minOccurs="0" maxOccurs="2" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SpecimenBaseSolidTissuePathologyAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="SpecimenBaseSolidTissuePathologyAnnotation" minOccurs="0" maxOccurs="2" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PancreasSpecimenPathologyAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PancreasSpecimenPathologyAnnotation" minOccurs="0" maxOccurs="2" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CNSSpecimenPathologyAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="CNSSpecimenPathologyAnnotation" minOccurs="0" maxOccurs="2" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="BreastSpecimenPathologyAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="BreastSpecimenPathologyAnnotation" minOccurs="0" maxOccurs="2" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ColorectalSpecimenPathologyAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ColorectalSpecimenPathologyAnnotation" minOccurs="0" maxOccurs="2" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
</xs:schema>

