software/caTissue/modules/NotificationService/wsrf/share/schema/core/tests/notification/notification_test_bindings.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="NotificationTest" targetNamespace="http://wsrf.globus.org/tests/notification/bindings" xmlns:porttype="http://wsrf.globus.org/tests/notification" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://wsrf.globus.org/tests/notification" location="notification_test_flattened.wsdl"/>
  <wsdl:binding name="NotificationTestPortTypeSOAPBinding" type="porttype:NotificationTestPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="generateNotification">
      <soap:operation soapAction="http://wsrf.globus.org/tests/notification/NotificationTestPortType/generateNotificationRequest"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selfSubscribe">
      <soap:operation soapAction="http://wsrf.globus.org/tests/notification/NotificationTestPortType/selfSubscribeRequest"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="invalidate">
      <soap:operation soapAction="http://wsrf.globus.org/tests/notification/NotificationTestPortType/invalidateRequest"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetResourceProperties">
      <soap:operation soapAction="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/SetResourceProperties"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidResourcePropertyQNameFault">
        <soap:fault name="InvalidResourcePropertyQNameFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnableToModifyResourcePropertyFault">
        <soap:fault name="UnableToModifyResourcePropertyFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SetResourcePropertyRequestFailedFault">
        <soap:fault name="SetResourcePropertyRequestFailedFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ResourceUnknownFault">
        <soap:fault name="ResourceUnknownFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidSetResourcePropertiesRequestContentFault">
        <soap:fault name="InvalidSetResourcePropertiesRequestContentFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetResourceProperty">
      <soap:operation soapAction="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidResourcePropertyQNameFault">
        <soap:fault name="InvalidResourcePropertyQNameFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ResourceUnknownFault">
        <soap:fault name="ResourceUnknownFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <soap:operation soapAction="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification/Subscribe"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TopicNotSupportedFault">
        <soap:fault name="TopicNotSupportedFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidTopicExpressionFault">
        <soap:fault name="InvalidTopicExpressionFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SubscribeCreationFailedFault">
        <soap:fault name="SubscribeCreationFailedFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ResourceUnknownFault">
        <soap:fault name="ResourceUnknownFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="TopicPathDialectUnknownFault">
        <soap:fault name="TopicPathDialectUnknownFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentMessage">
      <soap:operation soapAction="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification/GetCurrentMessage"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TopicNotSupportedFault">
        <soap:fault name="TopicNotSupportedFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidTopicExpressionFault">
        <soap:fault name="InvalidTopicExpressionFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="NoCurrentMessageOnTopicFault">
        <soap:fault name="NoCurrentMessageOnTopicFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ResourceUnknownFault">
        <soap:fault name="ResourceUnknownFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
