software/caTissue/modules/NotificationService/wsrf/share/schema/core/tests/notification/notification_test_flattened.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="NotificationTest" targetNamespace="http://wsrf.globus.org/tests/notification" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:tns="http://wsrf.globus.org/tests/notification" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:inv="http://wsrf.globus.org/tests/invalidate" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://wsrf.globus.org/tests/invalidate" location="../invalidate/invalidate_port_type.wsdl"/>
  <wsdl:import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" location="../../../wsrf/lifetime/WS-ResourceLifetime.wsdl"/>
  <wsdl:import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../../../wsrf/properties/WS-ResourceProperties.wsdl"/>
  <wsdl:import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../../../wsrf/notification/WS-BaseN.wsdl"/>
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://wsrf.globus.org/tests/notification" xmlns:rpns0="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.xsd" xmlns:tns="http://wsrf.globus.org/tests/notification" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://schemas.xmlsoap.org/ws/2004/03/addressing" schemaLocation="../../../ws/addressing/WS-Addressing.xsd"/>

<xsd:import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.xsd" schemaLocation="../../../wsrf/notification/WS-BaseN.xsd"/>


            <xsd:complexType name="JobStatusType">
                <xsd:annotation>
                    <xsd:documentation>
                        Type containing information about the current
                        state of the job and, if the job failed, fault
                        information. 
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="jobState" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="fault" type="xsd:anyType"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:element name="JobStatus" type="tns:JobStatusType"/>

            <xsd:element name="NotificationTestRP">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns:JobStatus"/>
                    
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="rpns0:Topic"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="rpns0:TopicExpressionDialects"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="rpns0:FixedTopicSet"/>
          </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="generateNotification" type="xsd:QName"/>

            <xsd:element name="generateNotificationResponse">
                <xsd:complexType/>
            </xsd:element>

            <xsd:element name="SelfSubscribeRequest">
                <xsd:complexType/>
            </xsd:element>

            <xsd:element name="SelfSubscribeResponse">
                <xsd:complexType/>
            </xsd:element>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SelfSubscribeResponse">
    <wsdl:part name="response" element="tns:SelfSubscribeResponse"/>
  </wsdl:message>
  <wsdl:message name="SelfSubscribeRequest">
    <wsdl:part name="request" element="tns:SelfSubscribeRequest"/>
  </wsdl:message>
  <wsdl:message name="GenerateNotificationRequest">
    <wsdl:part name="request" element="tns:generateNotification"/>
  </wsdl:message>
  <wsdl:message name="GenerateNotificationResponse">
    <wsdl:part name="response" element="tns:generateNotificationResponse"/>
  </wsdl:message>
  <wsdl:portType name="NotificationTestPortType" wsrp:ResourceProperties="tns:NotificationTestRP">
    <wsdl:operation name="generateNotification">
      <wsdl:input message="tns:GenerateNotificationRequest"/>
      <wsdl:output message="tns:GenerateNotificationResponse"/>
    </wsdl:operation>
    <wsdl:operation name="selfSubscribe">
      <wsdl:input message="tns:SelfSubscribeRequest"/>
      <wsdl:output message="tns:SelfSubscribeResponse"/>
    </wsdl:operation>
    <wsdl:operation name="invalidate">
      <wsdl:input message="inv:InvalidateRequest"/>
      <wsdl:output message="inv:InvalidateResponse"/>
    </wsdl:operation>
    <wsdl:operation name="SetResourceProperties">
      <wsdl:input name="SetResourcePropertiesRequest" message="wsrpw:SetResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/SetResourceProperties"/>
      <wsdl:output name="SetResourcePropertiesResponse" message="wsrpw:SetResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/SetResourcePropertiesResponse"/>
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault"/>
      <wsdl:fault name="UnableToModifyResourcePropertyFault" message="wsrpw:UnableToModifyResourcePropertyFault"/>
      <wsdl:fault name="SetResourcePropertyRequestFailedFault" message="wsrpw:SetResourcePropertyRequestFailedFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
      <wsdl:fault name="InvalidSetResourcePropertiesRequestContentFault" message="wsrpw:InvalidSetResourcePropertiesRequestContentFault"/>
    </wsdl:operation>
    <wsdl:operation name="GetResourceProperty">
      <wsdl:input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty"/>
      <wsdl:output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse"/>
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <wsdl:input message="wsntw:SubscribeRequest" wsa:Action="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification/Subscribe"/>
      <wsdl:output message="wsntw:SubscribeResponse" wsa:Action="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification/SubscribeResponse"/>
      <wsdl:fault name="TopicNotSupportedFault" message="wsntw:TopicNotSupportedFault"/>
      <wsdl:fault name="InvalidTopicExpressionFault" message="wsntw:InvalidTopicExpressionFault"/>
      <wsdl:fault name="SubscribeCreationFailedFault" message="wsntw:SubscribeCreationFailedFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsntw:ResourceUnknownFault"/>
      <wsdl:fault name="TopicPathDialectUnknownFault" message="wsntw:TopicPathDialectUnknownFault"/>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentMessage">
      <wsdl:input message="wsntw:GetCurrentMessageRequest" wsa:Action="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification/GetCurrentMessage"/>
      <wsdl:output message="wsntw:GetCurrentMessageResponse" wsa:Action="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification/GetCurrentMessageResponse"/>
      <wsdl:fault name="TopicNotSupportedFault" message="wsntw:TopicNotSupportedFault"/>
      <wsdl:fault name="InvalidTopicExpressionFault" message="wsntw:InvalidTopicExpressionFault"/>
      <wsdl:fault name="NoCurrentMessageOnTopicFault" message="wsntw:NoCurrentMessageOnTopicFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsntw:ResourceUnknownFault"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
