software/caTissue/modules/NotificationService/wsrf/share/schema/core/tests/interop/widget_port_type.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  Portions of this file Copyright 1999-2005 University of Chicago
  Portions of this file Copyright 1999-2005 The University of Southern California.
  
  This file or a portion of this file is licensed under the
  terms of the Globus Toolkit Public License, found at
  http://www.globus.org/toolkit/download/license.html.
  If you redistribute this file, with or without
  modifications, you must include this notice in the file.
-->
<definitions name="Widget"
    targetNamespace="http://widgets.com"
    xmlns:tns="http://widgets.com"
    xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" 
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsrlw=
    "http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl"
    xmlns:wsrpw=
    "http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
    xmlns:wsrp=
    "http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <wsdl:import 
        namespace=
        "http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
        location="../../../wsrf/properties/WS-ResourceProperties.wsdl" />

    <wsdl:import 
        namespace=
        "http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl"
        location="../../../wsrf/lifetime/WS-ResourceLifetime.wsdl" />

    <types>
        <xsd:schema targetNamespace="http://widgets.com"
            xmlns:tns="http://widgets.com"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified">

            <xsd:import 
                namespace=
                "http://schemas.xmlsoap.org/ws/2004/03/addressing"
                schemaLocation="../../../ws/addressing/WS-Addressing.xsd" 
                />

            <xsd:element name="createWidget">
                <xsd:complexType/>
            </xsd:element>

            <xsd:element name="createWidgetResponse">
               <xsd:complexType>
                 <xsd:sequence> 
                   <xsd:element ref="wsa:EndpointReference"/>
                 </xsd:sequence>
              </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </types>

    <message name="CreateWidgetRequest">
        <part name="request" element="tns:createWidget"/>
    </message>
    <message name="CreateWidgetResponse">
        <part name="response" element="tns:createWidgetResponse"/>
    </message>

    <portType name="WidgetPortType">

        <wsdl:operation name="createWidget">
            <wsdl:input message="tns:CreateWidgetRequest"/>
            <wsdl:output message="tns:CreateWidgetResponse"/>
        </wsdl:operation>

        <wsdl:operation name="GetResourceProperty">
            <wsdl:input  name="GetResourcePropertyRequest" 
                message="wsrpw:GetResourcePropertyRequest" />
            <wsdl:output name="GetResourcePropertyResponse" 
                message="wsrpw:GetResourcePropertyResponse" />
            <wsdl:fault  name="ResourceUnknownFault" 
                message="wsrpw:ResourceUnknownFault" />
            <wsdl:fault  name="InvalidResourcePropertyQNameFault" 
                message="wsrpw:InvalidResourcePropertyQNameFault" />     
        </wsdl:operation>

        <wsdl:operation name="GetMultipleResourceProperties">
            <wsdl:input  name="GetMultipleResourcePropertiesRequest" 
                message="wsrpw:GetMultipleResourcePropertiesRequest" />
            <wsdl:output name="GetMultipleResourcePropertiesResponse" 
                message="wsrpw:GetMultipleResourcePropertiesResponse" />
            <wsdl:fault  name="ResourceUnknownFault" 
                message="wsrpw:ResourceUnknownFault" />
            <wsdl:fault  name="InvalidResourcePropertyQNameFault" 
                message="wsrpw:InvalidResourcePropertyQNameFault" />     
        </wsdl:operation>

        <wsdl:operation name="SetResourceProperties">
            <wsdl:input  name="SetResourcePropertiesRequest" 
                message="wsrpw:SetResourcePropertiesRequest" />
            <wsdl:output name="SetResourcePropertiesResponse" 
                message="wsrpw:SetResourcePropertiesResponse" />
            <wsdl:fault  name="ResourceUnknownFault" 
                message="wsrpw:ResourceUnknownFault" />
            <wsdl:fault
                name="InvalidSetResourcePropertiesRequestContentFault"
                message="wsrpw:InvalidSetResourcePropertiesRequestContentFault"
                />     
            <wsdl:fault  name="UnableToModifyResourcePropertyFault" 
                message="wsrpw:UnableToModifyResourcePropertyFault" />
            <wsdl:fault  name="InvalidResourcePropertyQNameFault" 
                message="wsrpw:InvalidResourcePropertyQNameFault" />     
            <wsdl:fault  name="SetResourcePropertyRequestFailedFault" 
                message="wsrpw:SetResourcePropertyRequestFailedFault" />
        </wsdl:operation>

        <wsdl:operation name="QueryResourceProperties">
            <wsdl:input  name="QueryResourcePropertiesRequest" 
                message="wsrpw:QueryResourcePropertiesRequest" />
            <wsdl:output name="QueryResourcePropertiesResponse" 
                message="wsrpw:QueryResourcePropertiesResponse" />
            <wsdl:fault  name="ResourceUnknownFault" 
                message="wsrpw:ResourceUnknownFault" />
            <wsdl:fault  name="InvalidResourcePropertyQNameFault" 
                message="wsrpw:InvalidResourcePropertyQNameFault" />     
            <wsdl:fault  name="UnknownQueryExpressionDialectFault" 
                message="wsrpw:UnknownQueryExpressionDialectFault" />
            <wsdl:fault  name="InvalidQueryExpressionFault" 
                message="wsrpw:InvalidQueryExpressionFault" />
            <wsdl:fault  name="QueryEvaluationErrorFault" 
                message="wsrpw:QueryEvaluationErrorFault" />
        </wsdl:operation>

        <wsdl:operation name="Destroy">
            <wsdl:input message="wsrlw:DestroyRequest" />
            <wsdl:output message="wsrlw:DestroyResponse" />
            <wsdl:fault name="ResourceUnknownFault" 
                message="wsrlw:ResourceUnknownFault" />
            <wsdl:fault name="ResourceNotDestroyedFault" 
                message="wsrlw:ResourceNotDestroyedFault" />
        </wsdl:operation>

        <wsdl:operation name="SetTerminationTime">
            <wsdl:input message="wsrlw:SetTerminationTimeRequest" />
            <wsdl:output message="wsrlw:SetTerminationTimeResponse" />
            <wsdl:fault name="ResourceUnknownFault" 
                message="wsrlw:ResourceUnknownFault" />
            <wsdl:fault name="UnableToSetTerminationTimeFault" 
                message="wsrlw:UnableToSetTerminationTimeFault" />
            <wsdl:fault name="TerminationTimeChangeRejectedFault" 
                message="wsrlw:TerminationTimeChangeRejectedFault" />
        </wsdl:operation>
        
    </portType>

</definitions>
