software/caTissue/modules/NotificationService/wsrf/share/schema/core/tests/performance/basic_perf_test_port_type.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  Portions of this file Copyright 1999-2005 University of Chicago
  Portions of this file Copyright 1999-2005 The University of Southern California.
  
  This file or a portion of this file is licensed under the
  terms of the Globus Toolkit Public License, found at
  http://www.globus.org/toolkit/download/license.html.
  If you redistribute this file, with or without
  modifications, you must include this notice in the file.
-->
<definitions name="Test"
    targetNamespace="http://wsrf.globus.org/tests/performance/basic"
    xmlns:tns="http://wsrf.globus.org/tests/performance/basic"
    xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" 
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsrlw=
    "http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl"
    xmlns:wsrpw=
    "http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <wsdl:import 
        namespace=
        "http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
        location="../../../wsrf/properties/WS-ResourceProperties.wsdl" />

    <wsdl:import 
        namespace=
        "http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl"
        location="../../../wsrf/lifetime/WS-ResourceLifetime.wsdl" />

    <types>
        <xsd:schema targetNamespace="http://wsrf.globus.org/tests/performance/basic"
            xmlns:tns="http://wsrf.globus.org/tests/performance/basic"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:wsnt=
            "http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.xsd"
            xmlns:wsrp=
            "http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd"
            elementFormDefault="qualified">

            <xsd:import 
                namespace=
                "http://schemas.xmlsoap.org/ws/2004/03/addressing"
                schemaLocation="../../../ws/addressing/WS-Addressing.xsd" 
                />

            <xsd:import 
                namespace=
                "http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.xsd"
                schemaLocation="../../../wsrf/notification/WS-BaseN.xsd"
                />
            
            <xsd:import 
                namespace=
                "http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd"
                schemaLocation="../../../wsrf/properties/WS-ResourceProperties.xsd"
                />

            <xsd:complexType name="NameValuePairType">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string"/>
                    <xsd:element name="value" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>            

            <xsd:simpleType name="TransferStatusTypeEnumeration">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Finished"/>
                    <xsd:enumeration value="Retrying"/>
                    <xsd:enumeration value="Failed"/>
                    <xsd:enumeration value="Active"/>
                    <xsd:enumeration value="Pending"/>
                    <xsd:enumeration value="Cancelled"/>
                    <xsd:enumeration value="Expanding"/>
                    <xsd:enumeration value="Expanding_Done"/>
                    <xsd:enumeration value="Dirty"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="RFTOptionsType">
                <xsd:sequence>
                    <xsd:element name="binary" 
                        type="xsd:boolean"/>
                    <xsd:element name="blockSize" 
                        type="xsd:long"/>
                    <xsd:element name="tcpBufferSize" 
                        type="xsd:int"/>
                    <xsd:element name="notpt" 
                        type="xsd:boolean"/>
                    <xsd:element name="parallelStreams" 
                        type="xsd:int"/>
                    <xsd:element name="dcau" 
                        type="xsd:boolean"/>
                    <xsd:element name="subjectName" 
                        type="xsd:string"/>
                    <xsd:element name="destinationSubjectName" 
                        type="xsd:string"/>
                    <xsd:element name="sourceSubjectName" 
                        type="xsd:string"/>
                    <xsd:element name="userName" 
                        type="xsd:string"
                        minOccurs="0"
                        maxOccurs="1"/>            
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="DeleteOptionsType">
                <xsd:sequence>
                    <xsd:element name="subjectName" type="xsd:string"/>
                    <xsd:element name="userName" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="TransferType">
                <xsd:sequence>
                    <xsd:element name="transferId" type="xsd:int"/>
                    <xsd:element name="sourceUrl" type="xsd:string"/>
                    <xsd:element name="destinationUrl" type="xsd:string"/>
                    <xsd:element name="status" 
                        type="tns:TransferStatusTypeEnumeration"/>
                    <xsd:element name="attempts" type="xsd:int"/>
                    <xsd:element name="retry_time" type="xsd:long"/>
                    <xsd:element name="rftOptions" type="tns:RFTOptionsType" 
                        minOccurs="0" 
                        maxOccurs="1"/>
                    <xsd:element name="size" type="xsd:long"/>
                </xsd:sequence>
            </xsd:complexType>
    
            <xsd:complexType name="DeleteType">
                <xsd:sequence>
                    <xsd:element name="transferId" type="xsd:int" 
                        minOccurs="0"
                        maxOccurs="1"/>
                    <xsd:element name="file" type="xsd:string"/>
                    <xsd:element name="deleteOptions" 
                        type="tns:DeleteOptionsType"
                        minOccurs="0"
                        maxOccurs="1"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="BaseRequestType">
                <xsd:sequence>
                    <xsd:element name="concurrency"
                        type="xsd:int"
                        minOccurs="0"
                        maxOccurs="1"/>
                    <xsd:element name="maxAttempts"
                        type="xsd:int"
                        minOccurs="0"
                        maxOccurs="1"/>
                    <xsd:element name="finishBy"
                        type="xsd:dateTime"
                        minOccurs="0"
                        maxOccurs="1"/>
                    <xsd:element name="transferCredentialEndpoint" 
                        type="wsa:EndpointReferenceType"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="TransferRequestType">
                <xsd:complexContent>
                    <xsd:extension base="tns:BaseRequestType">
                        <xsd:sequence>
                            <xsd:element name="transfer" 
                                type="tns:TransferType" 
                                minOccurs="1" 
                                maxOccurs="unbounded"/>
                            <xsd:element name="rftOptions" 
                                type="tns:RFTOptionsType" 
                                minOccurs="0" 
                                maxOccurs="1"/>
                            <xsd:element name="allOrNone"
                                type="xsd:boolean"
                                minOccurs="0"
                                maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>

            <xsd:complexType name="DeleteRequestType">
                <xsd:complexContent>
                    <xsd:extension base="tns:BaseRequestType">
                        <xsd:sequence>
                            <xsd:element name="deletion" 
                                type="tns:DeleteType"
                                minOccurs="1"
                                maxOccurs="unbounded"/>
                            <xsd:element name="deleteOptions"
                                type="tns:DeleteOptionsType"
                                minOccurs="0"
                                maxOccurs="1"/>                            
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>


            <xsd:element name="base" type="tns:baseType"/>

            <xsd:complexType name="baseType">
                <xsd:sequence>
                    <xsd:element name="InitialTerminationTime"
                        type="xsd:dateTime"
                        minOccurs="0" nillable="true"/>
                    <xsd:element name="JobID" minOccurs="0" 
                        type="wsa:AttributedURI"/>
                    
                    <xsd:element name="Subscribe" minOccurs="0">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="ConsumerReference" 
                                    type="wsa:EndpointReferenceType"
                                    minOccurs="1" maxOccurs="1" />
                                <xsd:element name="TopicExpression" 
                                    type="wsnt:TopicExpressionType" 
                                    minOccurs="1" maxOccurs="1" />
                                <xsd:element name="UseNotify" 
                                    type="xsd:boolean" default="true" 
                                    minOccurs="0" maxOccurs="1" />
                                <xsd:element name="Precondition" 
                                    type="wsrp:QueryExpressionType"
                                    minOccurs="0" maxOccurs="1" />
                                <xsd:element name="Selector"
                                    type="wsrp:QueryExpressionType"
                                    minOccurs="0" maxOccurs="1" />
                                <xsd:element name="SubscriptionPolicy" 
                                    type="xsd:anyType" 
                                    minOccurs="0" maxOccurs="1" />
                                <xsd:element name="InitialTerminationTime" 
                                    type="xsd:dateTime"
                                    minOccurs="0" maxOccurs="1" />
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    
                    <xsd:element name="job" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                                
                                <xsd:element 
                                    name="factoryEndpoint"
                                    type="wsa:EndpointReferenceType"
                                    minOccurs="0"/>
                                
                                <xsd:element 
                                    name="jobCredentialEndpoint"
                                    type="wsa:EndpointReferenceType"
                                    minOccurs="0"/>
                                
                                <xsd:element 
                                    name="stagingCredentialEndpoint"
                                    type="wsa:EndpointReferenceType"
                                    minOccurs="0"/>
                                
                                <xsd:element 
                                    name="localUserId"
                                    type="xsd:string"
                                    minOccurs="0"/>
                                
                                <xsd:element 
                                    name="holdState" 
                                    minOccurs="0">
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                            <xsd:enumeration 
                                                value="Unsubmitted" />
                                            <xsd:enumeration 
                                                value="StageIn"/>
                                            <xsd:enumeration 
                                                value="Pending"/>
                                            <xsd:enumeration 
                                                value="Active"/>
                                            <xsd:enumeration 
                                                value="Suspended"/>
                                            <xsd:enumeration 
                                                value="StageOut"/>
                                            <xsd:enumeration 
                                                value="CleanUp"/>
                                            <xsd:enumeration 
                                                value="Done"/>
                                            <xsd:enumeration 
                                                value="Failed"/>
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                                
                                <xsd:element 
                                    name="executable"
                                    type="xsd:string"
                                    minOccurs="0"/>
                                
                                <xsd:element 
                                    name="directory"
                                    type="xsd:string"
                                    minOccurs="0"/>
                                
                                <xsd:element 
                                    name="argument"
                                    type="xsd:string"
                                    minOccurs="0"
                                    maxOccurs="unbounded"/>
                                
                                <xsd:element 
                                    name="environment"          
                                    type="tns:NameValuePairType"          
                                    minOccurs="0"
                                    maxOccurs="unbounded"/>
                                
                                <xsd:element 
                                    name="stdin"
                                    type="xsd:string"
                                    minOccurs="0"/>
                                
                                <xsd:element 
                                    name="stdout"
                                    type="xsd:string"
                                    minOccurs="0"/>
                                
                                <xsd:element 
                                    name="stderr"
                                    type="xsd:string"
                                    minOccurs="0"/>
                                
                                <xsd:element 
                                    name="count"
                                    type="xsd:positiveInteger"
                                    default="1"
                                    minOccurs="0"/>
                                
                                <xsd:element 
                                    name="libraryPath"
                                    type="xsd:string"
                                    minOccurs="0"
                                    maxOccurs="unbounded"/>
                                    
                                <xsd:element 
                                    name="hostCount" 
                                    type="xsd:positiveInteger"
                                    minOccurs="0"/>
                                
                                <xsd:element 
                                    name="project"
                                    type="xsd:string"
                                    minOccurs="0"/>
                                
                                <xsd:element 
                                    name="queue"                
                                    type="xsd:string"
                                    minOccurs="0"/>
                                
                                <xsd:element 
                                    name="maxTime"
                                    type="xsd:long"
                                    minOccurs="0"/>
                                
                                <xsd:element 
                                    name="maxWallTime"
                                    type="xsd:long"
                                    minOccurs="0"/>
                                
                                <xsd:element 
                                    name="maxCpuTime"
                                    type="xsd:long"
                                    minOccurs="0"/>
                                
                                <xsd:element 
                                    name="maxMemory"
                                    type="xsd:nonNegativeInteger"
                                    minOccurs="0"/>
                                
                                <xsd:element 
                                    name="minMemory"
                                    type="xsd:nonNegativeInteger"
                                    minOccurs="0"/>
                                
                                <xsd:element 
                                    name="jobType"
                                    minOccurs="0">
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                            <xsd:enumeration 
                                                value="mpi"/>
                                            <xsd:enumeration 
                                                value="single"/>
                                            <xsd:enumeration 
                                                value="multiple"/>
                                            <xsd:enumeration 
                                                value="condor"/>
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                                
                                <xsd:element 
                                    name="remoteIoUrl"
                                    type="xsd:string"
                                    minOccurs="0"/>
                                
                                <xsd:element 
                                    name="fileStageIn"
                                    type="tns:TransferRequestType"
                                    minOccurs="0"/>
                                
                                <xsd:element 
                                    name="fileStageOut"
                                    type="tns:TransferRequestType"
                                    minOccurs="0"/>
                                
                                <xsd:element 
                                    name="fileCleanUp"
                                    type="tns:DeleteRequestType"
                                    minOccurs="0"/>
                                
                                <xsd:element 
                                    name="scratchDir"
                                    type="xsd:string"
                                    minOccurs="0"/>
                                
                                <xsd:element 
                                    name="dryRun"
                                    type="xsd:boolean"
                                    minOccurs="0"/>
                                
                                <xsd:element 
                                    name="extensions"
                                    minOccurs="0">
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:any namespace="##other"
                                                minOccurs="0"
                                                maxOccurs="unbounded"
                                                processContents="lax"/>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="baseResponse">
                <xsd:complexType>
                    <xsd:sequence> 
                        <xsd:element ref="wsa:EndpointReference"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="resourceDispatch" type="tns:baseType"/>

            <xsd:element name="resourceDispatchResponse">
                <xsd:complexType>
                    <xsd:sequence> 
                        <xsd:element ref="wsa:EndpointReference"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </types>

    <message name="resourceDispatchRequest">
        <part name="request" element="tns:resourceDispatch"/>
    </message>

    <message name="resourceDispatchResponse">
        <part name="response" element="tns:resourceDispatchResponse"/>
    </message>

    <message name="BaseRequest">
        <part name="request" element="tns:base"/>
    </message>

    <message name="BaseResponse">
        <part name="response" element="tns:baseResponse"/>
    </message>

    <portType name="TestPortType">
        <operation name="resourceDispatch">
            <input message="tns:resourceDispatchRequest"/>
            <output message="tns:resourceDispatchResponse"/>
        </operation>

        <operation name="baseline">
            <input message="tns:BaseRequest"/>
            <output message="tns:BaseResponse"/>
        </operation>
    </portType>

</definitions>
