software/caTissue/modules/NotificationService/wsrf/share/schema/core/tests/performance/counter_flattened.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Counter" targetNamespace="http://perf.counter.com" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:tns="http://perf.counter.com" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" location="../../../wsrf/lifetime/WS-ResourceLifetime.wsdl"/>
  <wsdl:import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../../../wsrf/properties/WS-ResourceProperties.wsdl"/>
  <wsdl:import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../../../wsrf/notification/WS-BaseN.wsdl"/>
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://perf.counter.com" xmlns:rpns0="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.xsd" xmlns:tns="http://perf.counter.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.xsd" schemaLocation="../../../wsrf/notification/WS-BaseN.xsd"/>


            <xsd:import namespace="http://schemas.xmlsoap.org/ws/2004/03/addressing" schemaLocation="../../../ws/addressing/WS-Addressing.xsd"/>

            <xsd:element name="createCounter">
                <xsd:complexType/>
            </xsd:element>

            <xsd:element name="createCounterResponse">
               <xsd:complexType>
                 <xsd:sequence> 
                   <xsd:element ref="wsa:EndpointReference"/>
                 </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="add" type="xsd:int"/>
            <xsd:element name="addResponse" type="xsd:int"/>
            
            <xsd:element name="Value" type="xsd:int"/>
            
            <xsd:element name="CounterRP">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" ref="tns:Value"/>
                    
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="rpns0:Topic"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="rpns0:TopicExpressionDialects"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="rpns0:FixedTopicSet"/>
          </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CreateCounterResponse">
    <wsdl:part name="response" element="tns:createCounterResponse"/>
  </wsdl:message>
  <wsdl:message name="AddOutputMessage">
    <wsdl:part name="parameters" element="tns:addResponse"/>
  </wsdl:message>
  <wsdl:message name="AddInputMessage">
    <wsdl:part name="parameters" element="tns:add"/>
  </wsdl:message>
  <wsdl:message name="CreateCounterRequest">
    <wsdl:part name="request" element="tns:createCounter"/>
  </wsdl:message>
  <wsdl:portType name="CounterPortType" wsrp:ResourceProperties="tns:CounterRP">
    <wsdl:operation name="createCounter">
      <wsdl:input message="tns:CreateCounterRequest"/>
      <wsdl:output message="tns:CreateCounterResponse"/>
    </wsdl:operation>
    <wsdl:operation name="add">
      <wsdl:input message="tns:AddInputMessage"/>
      <wsdl:output message="tns:AddOutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="Destroy">
      <wsdl:input message="wsrlw:DestroyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/Destroy"/>
      <wsdl:output message="wsrlw:DestroyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/DestroyResponse"/>
      <wsdl:fault name="ResourceNotDestroyedFault" message="wsrlw:ResourceNotDestroyedFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsrlw:ResourceUnknownFault"/>
    </wsdl:operation>
    <wsdl:operation name="SetResourceProperties">
      <wsdl:input name="SetResourcePropertiesRequest" message="wsrpw:SetResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/SetResourceProperties"/>
      <wsdl:output name="SetResourcePropertiesResponse" message="wsrpw:SetResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/SetResourcePropertiesResponse"/>
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault"/>
      <wsdl:fault name="UnableToModifyResourcePropertyFault" message="wsrpw:UnableToModifyResourcePropertyFault"/>
      <wsdl:fault name="SetResourcePropertyRequestFailedFault" message="wsrpw:SetResourcePropertyRequestFailedFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
      <wsdl:fault name="InvalidSetResourcePropertiesRequestContentFault" message="wsrpw:InvalidSetResourcePropertiesRequestContentFault"/>
    </wsdl:operation>
    <wsdl:operation name="GetResourceProperty">
      <wsdl:input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty"/>
      <wsdl:output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse"/>
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <wsdl:input message="wsntw:SubscribeRequest" wsa:Action="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification/Subscribe"/>
      <wsdl:output message="wsntw:SubscribeResponse" wsa:Action="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification/SubscribeResponse"/>
      <wsdl:fault name="TopicNotSupportedFault" message="wsntw:TopicNotSupportedFault"/>
      <wsdl:fault name="InvalidTopicExpressionFault" message="wsntw:InvalidTopicExpressionFault"/>
      <wsdl:fault name="SubscribeCreationFailedFault" message="wsntw:SubscribeCreationFailedFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsntw:ResourceUnknownFault"/>
      <wsdl:fault name="TopicPathDialectUnknownFault" message="wsntw:TopicPathDialectUnknownFault"/>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentMessage">
      <wsdl:input message="wsntw:GetCurrentMessageRequest" wsa:Action="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification/GetCurrentMessage"/>
      <wsdl:output message="wsntw:GetCurrentMessageResponse" wsa:Action="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification/GetCurrentMessageResponse"/>
      <wsdl:fault name="TopicNotSupportedFault" message="wsntw:TopicNotSupportedFault"/>
      <wsdl:fault name="InvalidTopicExpressionFault" message="wsntw:InvalidTopicExpressionFault"/>
      <wsdl:fault name="NoCurrentMessageOnTopicFault" message="wsntw:NoCurrentMessageOnTopicFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsntw:ResourceUnknownFault"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
