software/caTissue/local.repo/gov.nih.nci.catissue/catissue_de_integration_client/2.0/edu.wustl.catissuecore.domain.pathology.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caCORE.caCORE/3.2/edu.wustl.catissuecore.domain.pathology" xmlns:edu.wustl.catissuecore.domain="gme://caCORE.caCORE/3.2/edu.wustl.catissuecore.domain" xmlns:edu.wustl.catissuecore.domain.deintegration="gme://caCORE.caCORE/3.2/edu.wustl.catissuecore.domain.deintegration" xmlns:edu.wustl.catissuecore.domain.shippingtracking="gme://caCORE.caCORE/3.2/edu.wustl.catissuecore.domain.shippingtracking" targetNamespace="gme://caCORE.caCORE/3.2/edu.wustl.catissuecore.domain.pathology" elementFormDefault="qualified">
  <xs:import namespace="gme://caCORE.caCORE/3.2/edu.wustl.catissuecore.domain.deintegration" schemaLocation="edu.wustl.catissuecore.domain.deintegration.xsd" />
  <xs:import namespace="gme://caCORE.caCORE/3.2/edu.wustl.catissuecore.domain" schemaLocation="edu.wustl.catissuecore.domain.xsd" />
  <xs:import namespace="gme://caCORE.caCORE/3.2/edu.wustl.catissuecore.domain.shippingtracking" schemaLocation="edu.wustl.catissuecore.domain.shippingtracking.xsd" />
  <xs:element name="ConceptReferent" type="ConceptReferent" />
  <xs:complexType name="ConceptReferent">
    <xs:sequence>
      <xs:element name="concept" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Concept" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="deIdentifiedSurgicalPathologyReport" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="DeidentifiedSurgicalPathologyReport" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="conceptReferentClassification" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ConceptReferentClassification" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="endOffset" type="xs:long" />
    <xs:attribute name="isModifier" type="xs:boolean" />
    <xs:attribute name="isNegated" type="xs:boolean" />
    <xs:attribute name="startOffset" type="xs:long" />
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
  <xs:element name="PathologyReportReviewParameter" type="PathologyReportReviewParameter" />
  <xs:complexType name="PathologyReportReviewParameter">
    <xs:sequence>
      <xs:element name="surgicalPathologyReport" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="SurgicalPathologyReport" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="comment" type="xs:string" />
    <xs:attribute name="reviewerRole" type="xs:string" />
    <xs:attribute name="status" type="xs:string" />
    <xs:attribute name="timestamp" type="xs:dateTime" />
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
  <xs:element name="BinaryContent" type="BinaryContent" />
  <xs:complexType name="BinaryContent">
    <xs:complexContent>
      <xs:extension base="ReportContent">
        <xs:sequence>
          <xs:element name="surgicalPathologyReport" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SurgicalPathologyReport" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IdentifiedSurgicalPathologyReport" type="IdentifiedSurgicalPathologyReport" />
  <xs:complexType name="IdentifiedSurgicalPathologyReport">
    <xs:complexContent>
      <xs:extension base="SurgicalPathologyReport">
        <xs:sequence>
          <xs:element name="specimenCollectionGroup" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="edu.wustl.catissuecore.domain:SpecimenCollectionGroup" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="deIdentifiedSurgicalPathologyReport" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="DeidentifiedSurgicalPathologyReport" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QuarantineEventParameter" type="QuarantineEventParameter" />
  <xs:complexType name="QuarantineEventParameter">
    <xs:sequence>
      <xs:element name="deIdentifiedSurgicalPathologyReport" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="DeidentifiedSurgicalPathologyReport" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="comment" type="xs:string" />
    <xs:attribute name="quarantineStatus" type="xs:boolean" />
    <xs:attribute name="status" type="xs:string" />
    <xs:attribute name="timestamp" type="xs:dateTime" />
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
  <xs:element name="DeidentifiedSurgicalPathologyReport" type="DeidentifiedSurgicalPathologyReport" />
  <xs:complexType name="DeidentifiedSurgicalPathologyReport">
    <xs:complexContent>
      <xs:extension base="SurgicalPathologyReport">
        <xs:sequence>
          <xs:element name="specimenCollectionGroup" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="edu.wustl.catissuecore.domain:SpecimenCollectionGroup" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="conceptReferentCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ConceptReferent" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="quarantineEventParameterCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="QuarantineEventParameter" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="isQuarantined" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="XMLContent" type="XMLContent" />
  <xs:complexType name="XMLContent">
    <xs:complexContent>
      <xs:extension base="ReportContent">
        <xs:sequence>
          <xs:element name="surgicalPathologyReport" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SurgicalPathologyReport" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextContent" type="TextContent" />
  <xs:complexType name="TextContent">
    <xs:complexContent>
      <xs:extension base="ReportContent">
        <xs:sequence>
          <xs:element name="reportSectionCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ReportSection" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="surgicalPathologyReport" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SurgicalPathologyReport" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReportSection" type="ReportSection" />
  <xs:complexType name="ReportSection">
    <xs:sequence>
      <xs:element name="textContent" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="TextContent" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="documentFragment" type="xs:string" />
    <xs:attribute name="endOffSet" type="xs:integer" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="startOffSet" type="xs:integer" />
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
  <xs:element name="Concept" type="Concept" />
  <xs:complexType name="Concept">
    <xs:sequence>
      <xs:element name="conceptReferentCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ConceptReferent" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="semanticType" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="SemanticType" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="conceptUniqueIdentifier" type="xs:string" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
  <xs:element name="SemanticType" type="SemanticType" />
  <xs:complexType name="SemanticType">
    <xs:sequence />
    <xs:attribute name="label" type="xs:string" />
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
  <xs:element name="ReportContent" type="ReportContent" />
  <xs:complexType name="ReportContent">
    <xs:sequence />
    <xs:attribute name="data" type="xs:string" />
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
  <xs:element name="SurgicalPathologyReport" type="SurgicalPathologyReport" />
  <xs:complexType name="SurgicalPathologyReport">
    <xs:sequence>
      <xs:element name="pathologyReportReviewParameterCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PathologyReportReviewParameter" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="textContent" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="TextContent" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="binaryContent" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="BinaryContent" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="xmlContent" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="XMLContent" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="reportSource" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="edu.wustl.catissuecore.domain:Site" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="activityStatus" type="xs:string" />
    <xs:attribute name="collectionDateTime" type="xs:dateTime" />
    <xs:attribute name="isFlagForReview" type="xs:boolean" />
    <xs:attribute name="reportStatus" type="xs:string" />
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
  <xs:element name="ConceptReferentClassification" type="ConceptReferentClassification" />
  <xs:complexType name="ConceptReferentClassification">
    <xs:sequence>
      <xs:element name="conceptReferentCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ConceptReferent" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
</xs:schema>

