software/caTissue/modules/caTissueStaticDataService/schema/Catissue_cacore/edu.wustl.catissuecore.domain.pathology.ws.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns="gme://caCORE.caCORE/3.2/edu.wustl.catissuecore.domain.pathology.ws" 
xmlns:edu.wustl.catissuecore.domain.ws="gme://caCORE.caCORE/3.2/edu.wustl.catissuecore.domain.ws" 
xmlns:edu.wustl.common.domain.ws="gme://caCORE.caCORE/3.2/edu.wustl.common.domain.ws" 
targetNamespace="gme://caCORE.caCORE/3.2/edu.wustl.catissuecore.domain.pathology.ws" 
elementFormDefault="qualified">
  <xs:import namespace="gme://caCORE.caCORE/3.2/edu.wustl.common.domain.ws" schemaLocation="edu.wustl.common.domain.ws.xsd" />
  <xs:import namespace="gme://caCORE.caCORE/3.2/edu.wustl.catissuecore.domain.ws" schemaLocation="edu.wustl.catissuecore.domain.ws.xsd" />
  <xs:element name="IdentifiedSurgicalPathologyReport" type="IdentifiedSurgicalPathologyReport" />
  <xs:complexType name="IdentifiedSurgicalPathologyReport">
    <xs:complexContent>
      <xs:extension base="SurgicalPathologyReport">
        <xs:sequence>
          <xs:element name="deIdentifiedSurgicalPathologyReport" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="DeidentifiedSurgicalPathologyReport" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReportSection" type="ReportSection" />
  <xs:complexType name="ReportSection">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence>
          <xs:element name="textContent" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="TextContent" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="documentFragment" type="xs:string" />
        <xs:attribute name="endOffSet" type="xs:integer" />
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="startOffSet" type="xs:integer" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Concept" type="Concept" />
  <xs:complexType name="Concept">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence>
          <xs:element name="conceptReferentCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ConceptReferent" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="semanticType" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SemanticType" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="conceptUniqueIdentifier" type="xs:string" />
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="name" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReportContent" type="ReportContent" />
  <xs:complexType name="ReportContent">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence />
        <xs:attribute name="data" type="xs:string" />
        <xs:attribute name="identifier" type="xs:long" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PathologyReportReviewParameter" type="PathologyReportReviewParameter" />
  <xs:complexType name="PathologyReportReviewParameter">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence>
          <xs:element name="user" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="edu.wustl.catissuecore.domain.ws:User" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="comment" type="xs:string" />
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="reviewerRole" type="xs:string" />
        <xs:attribute name="status" type="xs:string" />
        <xs:attribute name="timestamp" type="xs:dateTime" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QuarantineEventParameter" type="QuarantineEventParameter" />
  <xs:complexType name="QuarantineEventParameter">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence>
          <xs:element name="user" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="edu.wustl.catissuecore.domain.ws:User" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="deIdentifiedSurgicalPathologyReport" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="DeidentifiedSurgicalPathologyReport" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="comment" type="xs:string" />
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="quarantineStatus" type="xs:boolean" />
        <xs:attribute name="status" type="xs:string" />
        <xs:attribute name="timestamp" type="xs:dateTime" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConceptReferentClassification" type="ConceptReferentClassification" />
  <xs:complexType name="ConceptReferentClassification">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence>
          <xs:element name="conceptReferentCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ConceptReferent" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="name" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="XMLContent" type="XMLContent" />
  <xs:complexType name="XMLContent">
    <xs:complexContent>
      <xs:extension base="ReportContent">
        <xs:sequence>
          <xs:element name="surgicalPathologyReport" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SurgicalPathologyReport" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReportLoaderQueue" type="ReportLoaderQueue" />
  <xs:complexType name="ReportLoaderQueue">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence>
          <xs:element name="specimenCollectionGroup" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="edu.wustl.catissuecore.domain.ws:SpecimenCollectionGroup" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="participantCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="edu.wustl.catissuecore.domain.ws:Participant" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="participantName" type="xs:string" />
        <xs:attribute name="reportCollectionDate" type="xs:dateTime" />
        <xs:attribute name="reportLoadedDate" type="xs:dateTime" />
        <xs:attribute name="reportText" type="xs:string" />
        <xs:attribute name="siteName" type="xs:string" />
        <xs:attribute name="status" type="xs:string" />
        <xs:attribute name="surgicalPathologyNumber" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SurgicalPathologyReport" type="SurgicalPathologyReport" />
  <xs:complexType name="SurgicalPathologyReport">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence>
          <xs:element name="specimenCollectionGroup" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="edu.wustl.catissuecore.domain.ws:SpecimenCollectionGroup" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="binaryContent" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="BinaryContent" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="pathologyReportReviewParameterCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="PathologyReportReviewParameter" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="textContent" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="TextContent" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="xmlContent" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="XMLContent" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="reportSource" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="edu.wustl.catissuecore.domain.ws:Site" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="activityStatus" type="xs:string" />
        <xs:attribute name="collectionDateTime" type="xs:dateTime" />
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="isFlagForReview" type="xs:boolean" />
        <xs:attribute name="reportStatus" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SemanticType" type="SemanticType" />
  <xs:complexType name="SemanticType">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence />
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="label" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BinaryContent" type="BinaryContent" />
  <xs:complexType name="BinaryContent">
    <xs:complexContent>
      <xs:extension base="ReportContent">
        <xs:sequence>
          <xs:element name="surgicalPathologyReport" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SurgicalPathologyReport" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConceptReferent" type="ConceptReferent" />
  <xs:complexType name="ConceptReferent">
    <xs:complexContent>
      <xs:extension base="edu.wustl.common.domain.ws:AbstractDomainObject">
        <xs:sequence>
          <xs:element name="concept" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Concept" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="deIdentifiedSurgicalPathologyReport" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="DeidentifiedSurgicalPathologyReport" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="conceptReferentClassification" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ConceptReferentClassification" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="endOffset" type="xs:long" />
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="isModifier" type="xs:boolean" />
        <xs:attribute name="isNegated" type="xs:boolean" />
        <xs:attribute name="startOffset" type="xs:long" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextContent" type="TextContent" />
  <xs:complexType name="TextContent">
    <xs:complexContent>
      <xs:extension base="ReportContent">
        <xs:sequence>
          <xs:element name="reportSectionCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ReportSection" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="surgicalPathologyReport" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SurgicalPathologyReport" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeidentifiedSurgicalPathologyReport" type="DeidentifiedSurgicalPathologyReport" />
  <xs:complexType name="DeidentifiedSurgicalPathologyReport">
    <xs:complexContent>
      <xs:extension base="SurgicalPathologyReport">
        <xs:sequence>
          <xs:element name="quarantineEventParameterCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="QuarantineEventParameter" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="conceptReferentCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ConceptReferent" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="isQuarantined" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

