software/caTissue/modules/caTissueStaticDataService/schema/Catissue_cacore/WAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://wapi.wustl.edu/WAPI" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns0="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns6="gme://caCORE.caCORE/3.2/edu.wustl.catissuecore.domain.pathology.ws" xmlns:ns0="wapi.cacore.wustl.edu" xmlns:ns10="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.service" xmlns:ns2="gme://caCORE.caCORE/3.2/edu.wustl.common.domain.ws" xmlns:ns8="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns7="http://wapi.wustl.edu/WAPI/types" xmlns:ns9="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" xmlns:ns11="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.common" xmlns:ns3="gme://caCORE.caCORE/3.2/edu.wustl.catissuecore.domain.sop.ws" xmlns:ns1="gme://caCORE.caCORE/3.2/edu.wustl.catissuecore.domain.ws" xmlns:ns5="gme://caCORE.caCORE/3.2/edu.common.dynamicextensions.domain.integration.ws" xmlns:ns4="gme://caCORE.caCORE/3.2/edu.wustl.catissuecore.domain.deintegration.ws" name="WAPI" targetNamespace="http://wapi.wustl.edu/WAPI">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://wapi.wustl.edu/WAPI" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="gme://caCORE.caCORE/3.2/edu.wustl.catissuecore.domain.pathology.ws" schemaLocation="./edu.wustl.catissuecore.domain.pathology.xsd" />
      <import namespace="wapi.cacore.wustl.edu" schemaLocation="./caGridcaCOREWAPI.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.service" schemaLocation="./xsd/cagrid/types/service/servicemodel.xsd" />
      <import namespace="gme://caCORE.caCORE/3.2/edu.wustl.common.domain.ws" schemaLocation="./edu.wustl.common.domain.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/cagrid/types/security/security.xsd" />
      <import namespace="http://wapi.wustl.edu/WAPI/types" schemaLocation="./WAPITypes.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" schemaLocation="./xsd/cagrid/types/caGridMetadata.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.common" schemaLocation="./xsd/cagrid/types/common/common.xsd" />
      <import namespace="gme://caCORE.caCORE/3.2/edu.wustl.catissuecore.domain.sop.ws" schemaLocation="./edu.wustl.catissuecore.domain.sop.xsd" />
      <import namespace="gme://caCORE.caCORE/3.2/edu.wustl.catissuecore.domain.ws" schemaLocation="./edu.wustl.catissuecore.domain.xsd" />
      <import namespace="gme://caCORE.caCORE/3.2/edu.common.dynamicextensions.domain.integration.ws" schemaLocation="./edu.common.dynamicextensions.domain.integration.xsd" />
      <import namespace="gme://caCORE.caCORE/3.2/edu.wustl.catissuecore.domain.deintegration.ws" schemaLocation="./edu.wustl.catissuecore.domain.deintegration.xsd" />
      <element name="InsertRequest">
        <complexType>
          <sequence>
            <element name="object">
              <complexType>
                <sequence>
                  <element ref="ns2:AbstractDomainObject" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="InsertResponse">
        <complexType>
          <sequence>
            <element ref="ns2:AbstractDomainObject" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdateRequest">
        <complexType>
          <sequence>
            <element name="object">
              <complexType>
                <sequence>
                  <element ref="ns2:AbstractDomainObject" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="UpdateResponse">
        <complexType>
          <sequence>
            <element ref="ns2:AbstractDomainObject" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="DisableRequest">
        <complexType>
          <sequence>
            <element name="object">
              <complexType>
                <sequence>
                  <element ref="ns2:AbstractDomainObject" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="DisableResponse">
        <complexType>
          <sequence>
            <element ref="ns2:AbstractDomainObject" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="WAPIResourceProperties">
        <complexType>
          <sequence>
            <element ref="ns9:ServiceMetadata" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="InsertRequest">
    <part name="parameters" element="tns:InsertRequest" />
  </message>
  <message name="InsertResponse">
    <part name="parameters" element="tns:InsertResponse" />
  </message>
  <message name="UpdateRequest">
    <part name="parameters" element="tns:UpdateRequest" />
  </message>
  <message name="UpdateResponse">
    <part name="parameters" element="tns:UpdateResponse" />
  </message>
  <message name="DisableRequest">
    <part name="parameters" element="tns:DisableRequest" />
  </message>
  <message name="DisableResponse">
    <part name="parameters" element="tns:DisableResponse" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="WAPIPortType" wsrp:ResourceProperties="tns:WAPIResourceProperties">
    <operation name="insert">
      <input message="tns:InsertRequest" wsa:Action="http://wapi.wustl.edu/WAPI/InsertRequest" />
      <output message="tns:InsertResponse" wsa:Action="http://wapi.wustl.edu/WAPI/InsertResponse" />
    </operation>
    <operation name="update">
      <input message="tns:UpdateRequest" wsa:Action="http://wapi.wustl.edu/WAPI/UpdateRequest" />
      <output message="tns:UpdateResponse" wsa:Action="http://wapi.wustl.edu/WAPI/UpdateResponse" />
    </operation>
    <operation name="disable">
      <input message="tns:DisableRequest" wsa:Action="http://wapi.wustl.edu/WAPI/DisableRequest" />
      <output message="tns:DisableResponse" wsa:Action="http://wapi.wustl.edu/WAPI/DisableResponse" />
    </operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns0:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns0:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
  </portType>
</definitions>

