Plus3.1/BulkOperations/conf/BulkOperations.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<xs:element name="BulkOperationMetadata">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BulkOperationClass" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BulkOperationClass">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="attributeCollection" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="containmentAssociationCollection" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="referenceAssociationCollection" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:attribute name="roleName" type="xs:string" use="required">
				<xs:annotation>
					<xs:appinfo>
						<xs:javadoc language="en"> 
         It is the actual attribute name defined in the caTissue Suite data model.               
	</xs:javadoc>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="maxNoOfRecords" type="xs:int" use="required">
				<xs:annotation>
					<xs:appinfo>
						<xs:javadoc language="en"> 
         It is used to specify the maximum number of objects that can be added as a containment or reference association to the main Bulk Operation class.               
	</xs:javadoc>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="templateName" type="xs:string" use="required">
				<xs:annotation>
					<xs:appinfo>
						<xs:javadoc language="en"> 
         It is unique name for each Bulk Operation.               
	</xs:javadoc>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="cardinality" type="xs:string" use="required">
				<xs:annotation>
					<xs:appinfo>
						<xs:javadoc language="en"> 
         It is used to identify the mapping of one domain object to another one.               
	</xs:javadoc>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="batchSize" type="xs:int" use="required">
				<xs:annotation>
					<xs:appinfo>
						<xs:javadoc language="en"> 
         It is used to specify to create a output report zip file after every specified batch size value.               
	</xs:javadoc>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="className" type="xs:string" use="required">
				<xs:annotation>
					<xs:appinfo>
						<xs:javadoc language="en"> 
         Its value should have fully qualified class name of caTissue Suite domain object.              
	</xs:javadoc>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="relationShipType" type="xs:string" use="required">
				<xs:annotation>
					<xs:appinfo>
						<xs:javadoc language="en"> 
         It is the relationship type between one domain object to another object in caTissue Suite.               
	</xs:javadoc>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
					<xs:attribute name="isOneToManyAssociation" type="xs:string" >
				<xs:annotation>
					<xs:appinfo>
						<xs:javadoc language="en"> 
         It is used to identify whether this is a one to many association or not.               
	</xs:javadoc>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="parentRoleName" type="xs:string" use="required">
				<xs:annotation>
					<xs:appinfo>
						<xs:javadoc language="en"> 
         It is used to identify the re-use and add reference of the main Bulk Operation domain object to other objects of the BulkOperationClass defined in the XML. It is the actual attribute name defined in the caTissue Suite data model.              
	</xs:javadoc>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="containmentAssociationCollection">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="attributeCollection"/>
				<xs:element ref="referenceAssociationCollection"/>
			</xs:choice>
			<xs:attribute name="roleName" type="xs:string" use="required">
				<xs:annotation>
					<xs:appinfo>
						<xs:javadoc language="en"> 
         It is the actual attribute name defined in the caTissue Suite data model.               
	</xs:javadoc>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
<xs:attribute name="isOneToManyAssociation" type="xs:string" >
				<xs:annotation>
					<xs:appinfo>
						<xs:javadoc language="en"> 
         It is used to identify whether this is a one to many association or not.               
	</xs:javadoc>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>			
			<xs:attribute name="maxNoOfRecords" type="xs:int" use="required">
				<xs:annotation>
					<xs:appinfo>
						<xs:javadoc language="en"> 
         It is used to specify the maximum number of objects that can be added as a containment or reference association to the main Bulk Operation class.               
	</xs:javadoc>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="templateName" type="xs:string" use="required">
				<xs:annotation>
					<xs:appinfo>
						<xs:javadoc language="en"> 
         It is unique name for each Bulk Operation.               
	</xs:javadoc>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="cardinality" type="xs:string" use="required">
				<xs:annotation>
					<xs:appinfo>
						<xs:javadoc language="en"> 
         It is used to identify the mapping of one domain object to another one.               
	</xs:javadoc>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="batchSize" type="xs:int" use="required">
				<xs:annotation>
					<xs:appinfo>
						<xs:javadoc language="en"> 
         It is used to specify to create a output report zip file after every specified batch size value.               
	</xs:javadoc>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="className" type="xs:string" use="required">
				<xs:annotation>
					<xs:appinfo>
						<xs:javadoc language="en"> 
         Its value should have fully qualified class name of caTissue Suite domain object.              
	</xs:javadoc>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="relationShipType" type="xs:string" use="required">
				<xs:annotation>
					<xs:appinfo>
						<xs:javadoc language="en"> 
         It is the relationship type between one domain object to another object in caTissue Suite.               
	</xs:javadoc>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="parentRoleName" type="xs:string" use="required">
				<xs:annotation>
					<xs:appinfo>
						<xs:javadoc language="en"> 
         It is used to identify the re-use and add reference of the main Bulk Operation domain object to other objects of the BulkOperationClass defined in the XML. It is the actual attribute name defined in the caTissue Suite data model.              
	</xs:javadoc>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="referenceAssociationCollection">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="attributeCollection"/>
			</xs:sequence>
			<xs:attribute name="roleName" type="xs:string" use="required">
				<xs:annotation>
					<xs:appinfo>
						<xs:javadoc language="en"> 
         It is the actual attribute name defined in the caTissue Suite data model.               
	</xs:javadoc>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="isOneToManyAssociation" type="xs:string" >
				<xs:annotation>
					<xs:appinfo>
						<xs:javadoc language="en"> 
         It is used to identify whether this is a one to many association or not.               
	</xs:javadoc>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="maxNoOfRecords" type="xs:int" use="required">
				<xs:annotation>
					<xs:appinfo>
						<xs:javadoc language="en"> 
         It is used to specify the maximum number of objects that can be added as a containment or reference association to the main Bulk Operation class.               
	</xs:javadoc>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="templateName" type="xs:string" use="required">
				<xs:annotation>
					<xs:appinfo>
						<xs:javadoc language="en"> 
         It is unique name for each Bulk Operation.               
	</xs:javadoc>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="cardinality" type="xs:string" use="required">
				<xs:annotation>
					<xs:appinfo>
						<xs:javadoc language="en"> 
         It is used to identify the mapping of one domain object to another one.               
	</xs:javadoc>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="batchSize" type="xs:int" use="required">
				<xs:annotation>
					<xs:appinfo>
						<xs:javadoc language="en"> 
         It is used to specify to create a output report zip file after every specified batch size value.               
	</xs:javadoc>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="className" type="xs:string" use="required">
				<xs:annotation>
					<xs:appinfo>
						<xs:javadoc language="en"> 
         Its value should have fully qualified class name of caTissue Suite domain object.               
	</xs:javadoc>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="relationShipType" type="xs:string" use="required" fixed="association">
				<xs:annotation>
					<xs:appinfo>
						<xs:javadoc language="en"> 
         It is the relationship type between one domain object to another object in caTissue Suite.
	</xs:javadoc>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="parentRoleName" type="xs:string" use="required">
				<xs:annotation>
					<xs:appinfo>
						<xs:javadoc language="en"> 
         It is used to identify the re-use and add reference of the main Bulk Operation domain object to other objects of the BulkOperationClass defined in the XML. It is the actual attribute name defined in the caTissue Suite data model.               
	</xs:javadoc>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="containerId" type="xs:long" >
				<xs:annotation>
					<xs:appinfo>
						<xs:javadoc language="en"> 
It is used to specify the Identifier that links a Data Entry record with a participant in caTissue. 
	</xs:javadoc>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="attributeCollection">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="discriminatorCollection" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="csvColumnName" type="xs:string" use="required">
				<xs:annotation>
					<xs:appinfo>
						<xs:javadoc language="en"> 
         It is the column name mentioned in the CSV template which has the data corresponding to the attributes.               
	</xs:javadoc>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="dataType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="java.lang.Boolean"/>
						<xs:enumeration value="java.lang.Double"/>
						<xs:enumeration value="java.lang.Long"/>
						<xs:enumeration value="java.lang.Integer"/>
						<xs:enumeration value="java.lang.String"/>
						<xs:enumeration value="java.util.Date"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" type="xs:string" use="required">
				<xs:annotation>
					<xs:appinfo>
						<xs:javadoc language="en"> 
         It is the actual data member name defined in the java class in caTissue Suite data model.               
	</xs:javadoc>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="belongsTo" type="xs:string" use="required">
				<xs:annotation>
					<xs:appinfo>
						<xs:javadoc language="en"> 
         It has the caTissue Suite domain object to which the attributeCollection belongs to.               
	</xs:javadoc>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="updateBasedOn" type="xs:boolean" use="required">
				<xs:annotation>
					<xs:appinfo>
						<xs:javadoc language="en"> 
         It is used to identify in the bulk operation is for updating the data and on what unique attribute parameter user wants to identify and the update the respective object.               
	</xs:javadoc>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="discriminatorCollection">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required">
				<xs:annotation>
					<xs:appinfo>
						<xs:javadoc language="en"> 
	 It has the value that will be specified in the CSV data file.               
        </xs:javadoc>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="value" type="xs:string" use="required">
				<xs:annotation>
					<xs:appinfo>
						<xs:javadoc language="en"> 
         It should have the corresponding caTissue Suite object name for the name mentioned in the discriminator tag.               
	</xs:javadoc>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

</xs:schema>
