software/caTissue/modules/caTissueDEDataService/schema/Catissue_DE/Catissue_DE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://de_entity/Catissue_DE" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns3="http://org.cagrid.dataservice/DataService" xmlns:wns2="http://gov.nih.nci.cagrid.data/DataService" xmlns:wns1="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:wns0="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:ns4="gme://caCORE.caCORE/3.2/de_entity.pathology_specimen" xmlns:ns2="gme://caCORE.caCORE/3.2/de_entity.clinical_annotation" xmlns:ns14="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.dataservice" xmlns:ns7="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.service" xmlns:ns5="gme://caCORE.caCORE/3.2/de_entity.sop" xmlns:ns1="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns13="http://de_entity/Catissue_DE/CQLResultTypes" xmlns:ns16="http://gov.nih.nci.cagrid.data/DataServiceExceptions" xmlns:ns15="http://org.cagrid.dataservice.cql/QueryLanguageSupport" xmlns:ns6="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" xmlns:ns8="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.common" xmlns:ns12="http://CQL.caBIG/1/gov.nih.nci.cagrid.CQLResultSet" xmlns:ns9="http://CQL.caBIG/2/org.cagrid.cql2" xmlns:ns0="http://de_entity/Catissue_DE/types" xmlns:ns10="http://CQL.caBIG/2/org.cagrid.cql2.results" xmlns:ns11="http://CQL.caBIG/1/gov.nih.nci.cagrid.CQLQuery" xmlns:ns3="gme://caCORE.caCORE/3.2/de_entity.pathology_scg" name="Catissue_DE" targetNamespace="http://de_entity/Catissue_DE">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://org.cagrid.dataservice/DataService" location="./Cql2DataService.wsdl" />
  <import namespace="http://gov.nih.nci.cagrid.data/DataService" location="./DataService.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://de_entity/Catissue_DE" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="gme://caCORE.caCORE/3.2/de_entity.pathology_specimen" schemaLocation="de_entity.pathology_specimen.xsd" />
      <import namespace="gme://caCORE.caCORE/3.2/de_entity.clinical_annotation" schemaLocation="de_entity.clinical_annotation.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.dataservice" schemaLocation="./xsd/cagrid/types/data/data.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.service" schemaLocation="./xsd/cagrid/types/service/servicemodel.xsd" />
      <import namespace="gme://caCORE.caCORE/3.2/de_entity.sop" schemaLocation="de_entity.sop.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/cagrid/types/security/security.xsd" />
      <import namespace="http://de_entity/Catissue_DE/CQLResultTypes" schemaLocation="./Catissue_DE_CQLResultTypes.xsd" />
      <import namespace="http://gov.nih.nci.cagrid.data/DataServiceExceptions" schemaLocation="./DataServiceExceptions.xsd" />
      <import namespace="http://org.cagrid.dataservice.cql/QueryLanguageSupport" schemaLocation="./QueryLanguageSupportMetadata.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" schemaLocation="./xsd/cagrid/types/caGridMetadata.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.common" schemaLocation="./xsd/cagrid/types/common/common.xsd" />
      <import namespace="http://CQL.caBIG/1/gov.nih.nci.cagrid.CQLResultSet" schemaLocation="./1_gov.nih.nci.cagrid.CQLResultSet.xsd" />
      <import namespace="http://CQL.caBIG/2/org.cagrid.cql2" schemaLocation="./CQLQueryComponents.xsd" />
      <import namespace="http://de_entity/Catissue_DE/types" schemaLocation="./Catissue_DETypes.xsd" />
      <import namespace="http://CQL.caBIG/2/org.cagrid.cql2.results" schemaLocation="./CQLQueryResults.xsd" />
      <import namespace="http://CQL.caBIG/1/gov.nih.nci.cagrid.CQLQuery" schemaLocation="./1_gov.nih.nci.cagrid.CQLQuery.xsd" />
      <import namespace="gme://caCORE.caCORE/3.2/de_entity.pathology_scg" schemaLocation="de_entity.pathology_scg.xsd" />
      <element name="Catissue_DEResourceProperties">
        <complexType>
          <sequence>
            <element ref="ns14:DomainModel" />
            <element ref="ns6:ServiceMetadata" />
            <element ref="ns15:QueryLanguageSupport" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="Catissue_DEPortType" wsrp:ResourceProperties="tns:Catissue_DEResourceProperties">
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetMultipleResourceProperties">
      <wsdl:input name="GetMultipleResourcePropertiesRequest" message="wsrpw:GetMultipleResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties" />
      <wsdl:output name="GetMultipleResourcePropertiesResponse" message="wsrpw:GetMultipleResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetResourceProperty">
      <wsdl:input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty" />
      <wsdl:output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="QueryResourceProperties">
      <wsdl:input name="QueryResourcePropertiesRequest" message="wsrpw:QueryResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties" />
      <wsdl:output name="QueryResourcePropertiesResponse" message="wsrpw:QueryResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <wsdl:fault name="UnknownQueryExpressionDialectFault" message="wsrpw:UnknownQueryExpressionDialectFault" />
      <wsdl:fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault" />
      <wsdl:fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault" />
    </wsdl:operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns1:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns1:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
    <operation name="query">
      <input message="wns2:QueryRequest" wsa:Action="http://data.cagrid.nci.nih.gov/DataService/QueryRequest" />
      <output message="wns2:QueryResponse" wsa:Action="http://data.cagrid.nci.nih.gov/DataService/QueryResponse" />
      <fault name="QueryProcessingException" message="wns2:QueryProcessingExceptionFaultMessage" wsa:Action="http://gov.nih.nci.cagrid.data/DataService/QueryProcessingExceptionFaultMessage" />
      <fault name="MalformedQueryException" message="wns2:MalformedQueryExceptionFaultMessage" wsa:Action="http://gov.nih.nci.cagrid.data/DataService/MalformedQueryExceptionFaultMessage" />
    </operation>
    <operation name="executeQuery">
      <input message="wns3:ExecuteQueryRequest" wsa:Action="http://org.cagrid.dataservice/DataService/ExecuteQueryRequest" />
      <output message="wns3:ExecuteQueryResponse" wsa:Action="http://org.cagrid.dataservice/DataService/ExecuteQueryResponse" />
      <fault name="MalformedQueryException" message="wns3:MalformedQueryExceptionFaultMessage" wsa:Action="http://org.cagrid.dataservice/DataService/MalformedQueryExceptionFaultMessage" />
      <fault name="QueryProcessingException" message="wns3:QueryProcessingExceptionFaultMessage" wsa:Action="http://org.cagrid.dataservice/DataService/QueryProcessingExceptionFaultMessage" />
    </operation>
  </portType>
</definitions>

