software/caTissue/modules/caTissueDEDataService/schema/Catissue_DE/de_entity.pathology_scg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caCORE.caCORE/3.2/de_entity.pathology_scg" targetNamespace="gme://caCORE.caCORE/3.2/de_entity.pathology_scg" elementFormDefault="qualified">
  <xs:element name="SizeOfInvasiveCarcinoma" type="SizeOfInvasiveCarcinoma" />
  <xs:complexType name="SizeOfInvasiveCarcinoma">
    <xs:complexContent>
      <xs:extension base="TumorSize">
        <xs:sequence>
          <xs:element name="BreastPathologyAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="BreastPathologyAnnotation" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CarcinomaInSituStatus" type="CarcinomaInSituStatus" />
  <xs:complexType name="CarcinomaInSituStatus">
    <xs:sequence>
      <xs:element name="PancreasMarginUninvolvedByInvasiveCarcinoma" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PancreasMarginUninvolvedByInvasiveCarcinoma" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="status" type="xs:string" />
  </xs:complexType>
  <xs:element name="RadicalProstatectomyMargin" type="RadicalProstatectomyMargin" />
  <xs:complexType name="RadicalProstatectomyMargin">
    <xs:sequence>
      <xs:element name="radicalProstatectomyPathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="RadicalProstatectomyPathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ProstateMarginLocation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ProstateMarginLocation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="focalityOfInvolvedMargin" type="xs:string" />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="marginStatus" type="xs:string" />
  </xs:complexType>
  <xs:element name="Microcalcification" type="Microcalcification" />
  <xs:complexType name="Microcalcification">
    <xs:sequence>
      <xs:element name="BreastPathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="BreastPathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="value" type="xs:string" />
  </xs:complexType>
  <xs:element name="Invasion" type="Invasion" />
  <xs:complexType name="Invasion">
    <xs:sequence>
      <xs:element name="baseSolidTissuePathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="BaseSolidTissuePathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="lymphaticInvasion" type="xs:string" />
    <xs:attribute name="perineuralInvasion" type="xs:string" />
    <xs:attribute name="venousInvasion" type="xs:string" />
  </xs:complexType>
  <xs:element name="LungBiopsyPathologyAnnotation" type="LungBiopsyPathologyAnnotation" />
  <xs:complexType name="LungBiopsyPathologyAnnotation">
    <xs:complexContent>
      <xs:extension base="LungPathologyAnnotation">
        <xs:sequence>
          <xs:element name="SCGRecordEntry_LungBiopsyPathologyAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SCGRecordEntry" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" />
        <xs:attribute name="visceralPleuraInvasion" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NottinghamHistologicScore" type="NottinghamHistologicScore" />
  <xs:complexType name="NottinghamHistologicScore">
    <xs:sequence>
      <xs:element name="BreastPathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="BreastPathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="mitoticCountScore" type="xs:string" />
    <xs:attribute name="nuclearPleomorphismScore" type="xs:string" />
    <xs:attribute name="totalNottinghamScore" type="xs:long" />
    <xs:attribute name="tubuleFormationScore" type="xs:string" />
  </xs:complexType>
  <xs:element name="PolypConfiguration" type="PolypConfiguration" />
  <xs:complexType name="PolypConfiguration">
    <xs:sequence>
      <xs:element name="ExcisionalBiopsyBasedColorectalPathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ExcisionalBiopsyBasedColorectalPathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="configuration" type="xs:string" />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="stalkLength" type="xs:double" />
  </xs:complexType>
  <xs:element name="GleasonScore" type="GleasonScore" />
  <xs:complexType name="GleasonScore">
    <xs:sequence>
      <xs:element name="ProstatePathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ProstatePathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="primaryPatternScore" type="xs:string" />
    <xs:attribute name="secondaryPatternScore" type="xs:string" />
    <xs:attribute name="tertiaryPatternScore" type="xs:string" />
  </xs:complexType>
  <xs:element name="ResectionColorectalProximalMargin" type="ResectionColorectalProximalMargin" />
  <xs:complexType name="ResectionColorectalProximalMargin">
    <xs:sequence>
      <xs:element name="resectionBasedColorectalPathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ResectionBasedColorectalPathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="uninvolvedMargin" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ColorectalResectedMarginUninvolved" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="marginStatus" type="xs:string" />
  </xs:complexType>
  <xs:element name="TumorTissueSite" type="TumorTissueSite" />
  <xs:complexType name="TumorTissueSite">
    <xs:sequence>
      <xs:element name="TissueSide" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="TissueSide" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="baseSolidTissuePathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="BaseSolidTissuePathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="otherSite" type="xs:string" />
    <xs:attribute name="site" type="xs:string" />
  </xs:complexType>
  <xs:element name="AdditionalFinding" type="AdditionalFinding" />
  <xs:complexType name="AdditionalFinding">
    <xs:sequence>
      <xs:element name="BasePathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="BasePathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Details" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Details" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="pathologicFinding" type="xs:string" />
  </xs:complexType>
  <xs:element name="ExcisionalBiopsyColorectalDeepMargin" type="ExcisionalBiopsyColorectalDeepMargin" />
  <xs:complexType name="ExcisionalBiopsyColorectalDeepMargin">
    <xs:sequence>
      <xs:element name="excisionalBiopsyBasedColorectalPathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ExcisionalBiopsyBasedColorectalPathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ExcionalBiopsyMarginUninvolved" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ExcionalBiopsyMarginUninvolved" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="marginStatus" type="xs:string" />
  </xs:complexType>
  <xs:element name="MetastasisTissueSite" type="MetastasisTissueSite" />
  <xs:complexType name="MetastasisTissueSite">
    <xs:sequence>
      <xs:element name="distantMetastasis" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="DistantMetastasis" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="otherTissueSite" type="xs:string" />
    <xs:attribute name="tissueSite" type="xs:string" />
  </xs:complexType>
  <xs:element name="ResectionBasedColorectalPathologyAnnotation" type="ResectionBasedColorectalPathologyAnnotation" />
  <xs:complexType name="ResectionBasedColorectalPathologyAnnotation">
    <xs:complexContent>
      <xs:extension base="ColorectalPathologyAnnotation">
        <xs:sequence>
          <xs:element name="proximalMarginCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ResectionColorectalProximalMargin" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="SCGRecordEntry_ResectionBasedColorectalPathologyAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SCGRecordEntry" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="ResectionColorectalMesentricMargin" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ResectionColorectalMesentricMargin" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="ResectionColorectalRadialMargin" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ResectionColorectalRadialMargin" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="distalMarginCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ResectionColorectalDistalMargin" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" />
        <xs:attribute name="intactnessOfMesorectum" type="xs:string" />
        <xs:attribute name="specimenLength" type="xs:double" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LocalExcisionColorectalLateralMargin" type="LocalExcisionColorectalLateralMargin" />
  <xs:complexType name="LocalExcisionColorectalLateralMargin">
    <xs:sequence>
      <xs:element name="ColorectalLocalExcisionMarginUninvolved" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ColorectalLocalExcisionMarginUninvolved" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="localExcisionBasedColorectalPathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="LocalExcisionBasedColorectalPathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="marginLocation" type="xs:string" />
    <xs:attribute name="marginStatus" type="xs:string" />
  </xs:complexType>
  <xs:element name="Cytogenetics" type="Cytogenetics" />
  <xs:complexType name="Cytogenetics">
    <xs:sequence>
      <xs:element name="BaseHaematologyPathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="BaseHaematologyPathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="result" type="xs:string" />
    <xs:attribute name="status" type="xs:string" />
  </xs:complexType>
  <xs:element name="DistanceFromAnalVerge" type="DistanceFromAnalVerge" />
  <xs:complexType name="DistanceFromAnalVerge">
    <xs:sequence>
      <xs:element name="localExcisionBasedColorectalPathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="LocalExcisionBasedColorectalPathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="distanceKnown" type="xs:boolean" />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="lengthInCentimeters" type="xs:long" />
  </xs:complexType>
  <xs:element name="DirectExtensionOfTumor" type="DirectExtensionOfTumor" />
  <xs:complexType name="DirectExtensionOfTumor">
    <xs:sequence>
      <xs:element name="LungResectionBasedPathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="LungResectionBasedPathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="extensionOfTumor" type="xs:string" />
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
  <xs:element name="NeedleBiopsyProstatePathologyAnnotation" type="NeedleBiopsyProstatePathologyAnnotation" />
  <xs:complexType name="NeedleBiopsyProstatePathologyAnnotation">
    <xs:complexContent>
      <xs:extension base="ProstatePathologyAnnotation">
        <xs:sequence>
          <xs:element name="SCGRecordEntry_NeedleBiopsyProstatePathologyAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SCGRecordEntry" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="coreLengthInMillimeter" type="xs:double" />
        <xs:attribute name="id" type="xs:long" />
        <xs:attribute name="numberOfPositiveCores" type="xs:long" />
        <xs:attribute name="otherQuantitiation" type="xs:string" />
        <xs:attribute name="totalLinearCarcinomaInMillimeter" type="xs:double" />
        <xs:attribute name="totalNumberOfCores" type="xs:long" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LungResectionMargin" type="LungResectionMargin" />
  <xs:complexType name="LungResectionMargin">
    <xs:sequence>
      <xs:element name="LungResectionBasedPathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="LungResectionBasedPathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="LungResectionMarginsUninvolved" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="LungResectionMarginsUninvolved" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="marginLocation" type="xs:string" />
    <xs:attribute name="marginStatus" type="xs:string" />
    <xs:attribute name="otherLocation" type="xs:string" />
  </xs:complexType>
  <xs:element name="LungResectionBasedPathologyAnnotation" type="LungResectionBasedPathologyAnnotation" />
  <xs:complexType name="LungResectionBasedPathologyAnnotation">
    <xs:complexContent>
      <xs:extension base="LungPathologyAnnotation">
        <xs:sequence>
          <xs:element name="DirectExtensionOfTumor" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="DirectExtensionOfTumor" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="LungResectionMargin" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="LungResectionMargin" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="SCGRecordEntry_LungResectionBasedPathologyAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SCGRecordEntry" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="arterialInvasion" type="xs:string" />
        <xs:attribute name="id" type="xs:long" />
        <xs:attribute name="otherTumorExtensions" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MacroscopicExtentOfTumor" type="MacroscopicExtentOfTumor" />
  <xs:complexType name="MacroscopicExtentOfTumor">
    <xs:sequence>
      <xs:element name="KidneyNephrectomyBasedPathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="KidneyNephrectomyBasedPathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="extentOfTumor" type="xs:string" />
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
  <xs:element name="OtherResectedOrgans" type="OtherResectedOrgans" />
  <xs:complexType name="OtherResectedOrgans">
    <xs:sequence>
      <xs:element name="pancreasePathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PancreasPathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="otherOrgansResected" type="xs:string" />
    <xs:attribute name="otherOtherOrgansResected" type="xs:string" />
  </xs:complexType>
  <xs:element name="TransurethralProstaticResectionPathologyAnnotation" type="TransurethralProstaticResectionPathologyAnnotation" />
  <xs:complexType name="TransurethralProstaticResectionPathologyAnnotation">
    <xs:complexContent>
      <xs:extension base="ProstatePathologyAnnotation">
        <xs:sequence>
          <xs:element name="SCGRecordEntry_TransurethralProstaticResectionPathologyAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SCGRecordEntry" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" />
        <xs:attribute name="isTumorIncidentalHistologicFindingAbove5Percent" type="xs:boolean" />
        <xs:attribute name="numberOfPositiveChips" type="xs:long" />
        <xs:attribute name="specimenWeight" type="xs:double" />
        <xs:attribute name="totalNumberOfChips" type="xs:long" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HistologicGrade" type="HistologicGrade" />
  <xs:complexType name="HistologicGrade">
    <xs:sequence>
      <xs:element name="BaseSolidTissuePathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="BaseSolidTissuePathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="grade" type="xs:string" />
    <xs:attribute name="gradingSystemName" type="xs:string" />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="otherGradingSystemName" type="xs:string" />
  </xs:complexType>
  <xs:element name="KidneyPathologyAnnotation" type="KidneyPathologyAnnotation" abstract="true" />
  <xs:complexType name="KidneyPathologyAnnotation">
    <xs:complexContent>
      <xs:extension base="BaseSolidTissuePathologyAnnotation">
        <xs:sequence>
          <xs:element name="SCGRecordEntry_KidneyPathologyAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SCGRecordEntry" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" />
        <xs:attribute name="percentOfSarcomatoidElement" type="xs:double" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Details" type="Details" />
  <xs:complexType name="Details">
    <xs:sequence>
      <xs:element name="AdditionalFinding" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="AdditionalFinding" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="detail" type="xs:string" />
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
  <xs:element name="LocalExcisionColorectalDeepMargin" type="LocalExcisionColorectalDeepMargin" />
  <xs:complexType name="LocalExcisionColorectalDeepMargin">
    <xs:sequence>
      <xs:element name="ColorectalLocalExcisionMarginUninvolved" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ColorectalLocalExcisionMarginUninvolved" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="localExcisionBasedColorectalPathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="LocalExcisionBasedColorectalPathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="marginStatus" type="xs:string" />
  </xs:complexType>
  <xs:element name="SCGRecordEntry" type="SCGRecordEntry" />
  <xs:complexType name="SCGRecordEntry">
    <xs:sequence>
      <xs:element name="RadicalProstatectomyPathologyAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="RadicalProstatectomyPathologyAnnotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="NeedleBiopsyProstatePathologyAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="NeedleBiopsyProstatePathologyAnnotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="KidneyPathologyAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="KidneyPathologyAnnotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="MelanomaPathologyAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="MelanomaPathologyAnnotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="KidneyNephrectomyBasedPathologyAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="KidneyNephrectomyBasedPathologyAnnotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ColorectalPathologyAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ColorectalPathologyAnnotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PancreasPathologyAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PancreasPathologyAnnotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ProstatePathologyAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ProstatePathologyAnnotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ExcisionalBiopsyBasedColorectalPathologyAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ExcisionalBiopsyBasedColorectalPathologyAnnotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="BaseHaematologyPathologyAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="BaseHaematologyPathologyAnnotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TransurethralProstaticResectionPathologyAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="TransurethralProstaticResectionPathologyAnnotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CNSPathologyAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="CNSPathologyAnnotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RetropubicEnucleationPathologyAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="RetropubicEnucleationPathologyAnnotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="BreastPathologyAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="BreastPathologyAnnotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ResectionBasedColorectalPathologyAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ResectionBasedColorectalPathologyAnnotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="LocalExcisionBasedColorectalPathologyAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="LocalExcisionBasedColorectalPathologyAnnotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="BasePathologyAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="BasePathologyAnnotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="LungPathologyAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="LungPathologyAnnotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="LungBiopsyPathologyAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="LungBiopsyPathologyAnnotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="BaseSolidTissuePathologyAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="BaseSolidTissuePathologyAnnotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="LungResectionBasedPathologyAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="LungResectionBasedPathologyAnnotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="KidneyBiopsyBasedPathologyAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="KidneyBiopsyBasedPathologyAnnotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
  <xs:element name="LateralMelanomaMargin" type="LateralMelanomaMargin" />
  <xs:complexType name="LateralMelanomaMargin">
    <xs:sequence>
      <xs:element name="melanomaPathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="MelanomaPathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UninvolvedMelanomaMargin" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="UninvolvedMelanomaMargin" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="marginLocation" type="xs:string" />
    <xs:attribute name="marginStatus" type="xs:string" />
  </xs:complexType>
  <xs:element name="BreastMarginInvolved" type="BreastMarginInvolved" />
  <xs:complexType name="BreastMarginInvolved">
    <xs:sequence>
      <xs:element name="breastMargin" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="BreastMargin" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="extentOfInvolvement" type="xs:string" />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="otherExtentOfInvolvement" type="xs:string" />
  </xs:complexType>
  <xs:element name="DistantMetastasis" type="DistantMetastasis" />
  <xs:complexType name="DistantMetastasis">
    <xs:sequence>
      <xs:element name="pathologicalStaging" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PathologicalStaging" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="MetastasisTissueSite" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="MetastasisTissueSite" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="metastasisStage" type="xs:string" />
  </xs:complexType>
  <xs:element name="MelanomaPathologyAnnotation" type="MelanomaPathologyAnnotation" />
  <xs:complexType name="MelanomaPathologyAnnotation">
    <xs:complexContent>
      <xs:extension base="BaseSolidTissuePathologyAnnotation">
        <xs:sequence>
          <xs:element name="SCGRecordEntry_MelanomaPathologyAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SCGRecordEntry" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="SatelliteNodule" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SatelliteNodule" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="lateralMarginCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="LateralMelanomaMargin" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="deepMarginCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="DeepMelanomaMargin" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="depthOfInvasion" type="xs:double" />
        <xs:attribute name="depthOfInvasionCannotBeDetermined" type="xs:boolean" />
        <xs:attribute name="id" type="xs:long" />
        <xs:attribute name="macroscopicTumor" type="xs:string" />
        <xs:attribute name="mitoticIndex" type="xs:string" />
        <xs:attribute name="pigmentation" type="xs:string" />
        <xs:attribute name="satelliteNoduleStatus" type="xs:string" />
        <xs:attribute name="tumorInfiltratingLymphocytes" type="xs:string" />
        <xs:attribute name="tumorRegression" type="xs:string" />
        <xs:attribute name="ulceration" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LocalExcisionBasedColorectalPathologyAnnotation" type="LocalExcisionBasedColorectalPathologyAnnotation" />
  <xs:complexType name="LocalExcisionBasedColorectalPathologyAnnotation">
    <xs:complexContent>
      <xs:extension base="ColorectalPathologyAnnotation">
        <xs:sequence>
          <xs:element name="distanceOfTumor" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="DistanceFromAnalVerge" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="SpecimenIntegrity" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SpecimenIntegrity" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="SCGRecordEntry_LocalExcisionBasedColorectalPathologyAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SCGRecordEntry" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="localExcisionColorectalDeepMargin" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="LocalExcisionColorectalDeepMargin" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="LocalExcisionColorectalLateralMargin" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="LocalExcisionColorectalLateralMargin" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProstateMarginLocation" type="ProstateMarginLocation" />
  <xs:complexType name="ProstateMarginLocation">
    <xs:sequence>
      <xs:element name="radicalProstatectomyMargin" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="RadicalProstatectomyMargin" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="involvedMarginLocation" type="xs:string" />
    <xs:attribute name="otherLocation" type="xs:string" />
  </xs:complexType>
  <xs:element name="DistanceOfAdenoma" type="DistanceOfAdenoma" />
  <xs:complexType name="DistanceOfAdenoma">
    <xs:complexContent>
      <xs:extension base="DistanceFromAnalVerge">
        <xs:sequence>
          <xs:element name="ExcisionalBiopsyBasedColorectalPathologyAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ExcisionalBiopsyBasedColorectalPathologyAnnotation" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeepMelanomaMargin" type="DeepMelanomaMargin" />
  <xs:complexType name="DeepMelanomaMargin">
    <xs:sequence>
      <xs:element name="UninvolvedMelanomaMargin" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="UninvolvedMelanomaMargin" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="melanomaPathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="MelanomaPathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="marginLocation" type="xs:string" />
    <xs:attribute name="marginStatus" type="xs:string" />
  </xs:complexType>
  <xs:element name="DistanceOfInvasiveCarcinoma" type="DistanceOfInvasiveCarcinoma" />
  <xs:complexType name="DistanceOfInvasiveCarcinoma">
    <xs:complexContent>
      <xs:extension base="DistanceFromAnalVerge">
        <xs:sequence>
          <xs:element name="ExcisionalBiopsyBasedColorectalPathologyAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ExcisionalBiopsyBasedColorectalPathologyAnnotation" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PancreasMargin" type="PancreasMargin" />
  <xs:complexType name="PancreasMargin">
    <xs:sequence>
      <xs:element name="PancreasMarginUninvolvedByInvasiveCarcinoma" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PancreasMarginUninvolvedByInvasiveCarcinoma" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PancreasMarginInvolvedByInvasiveCarcinoma" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PancreasMarginInvolvedByInvasiveCarcinoma" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="pancreasePathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PancreasPathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="marginStatus" type="xs:string" />
  </xs:complexType>
  <xs:element name="ImmunoPhenotyping" type="ImmunoPhenotyping" />
  <xs:complexType name="ImmunoPhenotyping">
    <xs:sequence>
      <xs:element name="baseHaematologyPathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="BaseHaematologyPathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="methodUsed" type="xs:string" />
    <xs:attribute name="result" type="xs:string" />
    <xs:attribute name="status" type="xs:string" />
  </xs:complexType>
  <xs:element name="SatelliteNodule" type="SatelliteNodule" />
  <xs:complexType name="SatelliteNodule">
    <xs:sequence>
      <xs:element name="MelanomaPathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="MelanomaPathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="site" type="xs:string" />
  </xs:complexType>
  <xs:element name="ExtraprostaticExtensionTissueSites" type="ExtraprostaticExtensionTissueSites" />
  <xs:complexType name="ExtraprostaticExtensionTissueSites">
    <xs:sequence>
      <xs:element name="ExtraprostaticExtension" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ExtraprostaticExtension" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="tissueSite" type="xs:string" />
  </xs:complexType>
  <xs:element name="KidneyNephrectomyMargin" type="KidneyNephrectomyMargin" />
  <xs:complexType name="KidneyNephrectomyMargin">
    <xs:sequence>
      <xs:element name="KidneyMarginLocation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="KidneyMarginLocation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="KidneyNephrectomyBasedPathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="KidneyNephrectomyBasedPathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="marginStatus" type="xs:string" />
  </xs:complexType>
  <xs:element name="KidneyNephrectomyBasedPathologyAnnotation" type="KidneyNephrectomyBasedPathologyAnnotation" />
  <xs:complexType name="KidneyNephrectomyBasedPathologyAnnotation">
    <xs:complexContent>
      <xs:extension base="KidneyPathologyAnnotation">
        <xs:sequence>
          <xs:element name="MacroscopicExtentOfTumor" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="MacroscopicExtentOfTumor" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="SCGRecordEntry_KidneyNephrectomyBasedPathologyAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SCGRecordEntry" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="KidneyNephrectomyMargin" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="KidneyNephrectomyMargin" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="adrenalGlandStage" type="xs:string" />
        <xs:attribute name="focality" type="xs:string" />
        <xs:attribute name="id" type="xs:long" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ColorectalPathologyAnnotation" type="ColorectalPathologyAnnotation" abstract="true" />
  <xs:complexType name="ColorectalPathologyAnnotation">
    <xs:complexContent>
      <xs:extension base="BaseSolidTissuePathologyAnnotation">
        <xs:sequence>
          <xs:element name="PolypSize" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="PolypSize" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="SCGRecordEntry_ColorectalPathologyAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SCGRecordEntry" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" />
        <xs:attribute name="intratumoralPeritumoralLymphocyticResponse" type="xs:string" />
        <xs:attribute name="otherTumorConfiguration" type="xs:string" />
        <xs:attribute name="tumorBorderConfiguration" type="xs:string" />
        <xs:attribute name="tumorConfiguration" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PolypSize" type="PolypSize" />
  <xs:complexType name="PolypSize">
    <xs:complexContent>
      <xs:extension base="TumorSize">
        <xs:sequence>
          <xs:element name="ColorectalPathologyAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ColorectalPathologyAnnotation" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TumorSize" type="TumorSize" />
  <xs:complexType name="TumorSize">
    <xs:sequence>
      <xs:element name="baseSolidTissuePathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="BaseSolidTissuePathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="additionalDimensionOne" type="xs:double" />
    <xs:attribute name="additionalDimensionTwo" type="xs:double" />
    <xs:attribute name="cannotBeDetermined" type="xs:boolean" />
    <xs:attribute name="greatestDimension" type="xs:double" />
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
  <xs:element name="ResectionColorectalRadialMargin" type="ResectionColorectalRadialMargin" />
  <xs:complexType name="ResectionColorectalRadialMargin">
    <xs:sequence>
      <xs:element name="ResectionBasedColorectalPathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ResectionBasedColorectalPathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="uninvolvedMargin" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ColorectalResectedMarginUninvolved" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="marginStatus" type="xs:string" />
  </xs:complexType>
  <xs:element name="CNSPathologyAnnotation" type="CNSPathologyAnnotation" />
  <xs:complexType name="CNSPathologyAnnotation">
    <xs:complexContent>
      <xs:extension base="BaseSolidTissuePathologyAnnotation">
        <xs:sequence>
          <xs:element name="SCGRecordEntry_CNSPathologyAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SCGRecordEntry" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="SpecimenSize" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SpecimenSize" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="cnsMargin" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="CNSMargin" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SpecimenSize" type="SpecimenSize" />
  <xs:complexType name="SpecimenSize">
    <xs:sequence>
      <xs:element name="CNSPathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="CNSPathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="additionalDimensionOne" type="xs:double" />
    <xs:attribute name="additionalDimensionTwo" type="xs:double" />
    <xs:attribute name="cannotBeDetermined" type="xs:boolean" />
    <xs:attribute name="greatestDimension" type="xs:double" />
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
  <xs:element name="ResectionColorectalDistalMargin" type="ResectionColorectalDistalMargin" />
  <xs:complexType name="ResectionColorectalDistalMargin">
    <xs:sequence>
      <xs:element name="uninvolvedMargin" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ColorectalResectedMarginUninvolved" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="resectionBasedColorectalPathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ResectionBasedColorectalPathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="marginStatus" type="xs:string" />
  </xs:complexType>
  <xs:element name="ProstatePathologyAnnotation" type="ProstatePathologyAnnotation" abstract="true" />
  <xs:complexType name="ProstatePathologyAnnotation">
    <xs:complexContent>
      <xs:extension base="BaseSolidTissuePathologyAnnotation">
        <xs:sequence>
          <xs:element name="SCGRecordEntry_ProstatePathologyAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SCGRecordEntry" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="GleasonScore" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="GleasonScore" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" />
        <xs:attribute name="periprostaticFatInvasion" type="xs:string" />
        <xs:attribute name="proportionOrPercentOfProstaticTissueInvolvedByTumor" type="xs:double" />
        <xs:attribute name="seminalVesicleInvasion" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ColorectalResectedMarginUninvolved" type="ColorectalResectedMarginUninvolved" />
  <xs:complexType name="ColorectalResectedMarginUninvolved">
    <xs:sequence>
      <xs:element name="resectionColorectalProximalMargin" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ResectionColorectalProximalMargin" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="resectionColorectalDistalMargin" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ResectionColorectalDistalMargin" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="resectionColorectalRadialMargin" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ResectionColorectalRadialMargin" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="resectionColorectalMesentricMargin" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ResectionColorectalMesentricMargin" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="closestDistanceToTumor" type="xs:double" />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="marginLocation" type="xs:string" />
  </xs:complexType>
  <xs:element name="BreastMarginUninvolved" type="BreastMarginUninvolved" />
  <xs:complexType name="BreastMarginUninvolved">
    <xs:sequence>
      <xs:element name="BreastMargin" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="BreastMargin" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="closestDistanceToTumor" type="xs:double" />
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
  <xs:element name="SpecimenIntegrity" type="SpecimenIntegrity" />
  <xs:complexType name="SpecimenIntegrity">
    <xs:sequence>
      <xs:element name="LocalExcisionBasedColorectalPathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="LocalExcisionBasedColorectalPathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="numberOfPieces" type="xs:long" />
    <xs:attribute name="type" type="xs:string" />
  </xs:complexType>
  <xs:element name="TissueSide" type="TissueSide" />
  <xs:complexType name="TissueSide">
    <xs:sequence>
      <xs:element name="TumorTissueSite" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="TumorTissueSite" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="side" type="xs:string" />
  </xs:complexType>
  <xs:element name="BaseHaematologyPathologyAnnotation" type="BaseHaematologyPathologyAnnotation" />
  <xs:complexType name="BaseHaematologyPathologyAnnotation">
    <xs:complexContent>
      <xs:extension base="BasePathologyAnnotation">
        <xs:sequence>
          <xs:element name="Cytogenetics" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Cytogenetics" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="immunoPhenotyping" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ImmunoPhenotyping" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="SCGRecordEntry_BaseHaematologyPathologyAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SCGRecordEntry" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="adequacyOfSpecimen" type="xs:string" />
        <xs:attribute name="biopsyOrAspirateSite" type="xs:string" />
        <xs:attribute name="id" type="xs:long" />
        <xs:attribute name="otherBiopsyOrAspirateSite" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BasePathologyAnnotation" type="BasePathologyAnnotation" abstract="true" />
  <xs:complexType name="BasePathologyAnnotation">
    <xs:sequence>
      <xs:element name="additionalFinding" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="AdditionalFinding" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SCGRecordEntry_BasePathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="SCGRecordEntry" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="HistologicType" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="HistologicType" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="comment" type="xs:string" />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="otherSpecimenProcedure" type="xs:string" />
    <xs:attribute name="specimenProcedure" type="xs:string" />
  </xs:complexType>
  <xs:element name="PathologicalStaging" type="PathologicalStaging" />
  <xs:complexType name="PathologicalStaging">
    <xs:sequence>
      <xs:element name="baseSolidTissuePathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="BaseSolidTissuePathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="regionalLymphNode" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="RegionalLymphNode" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PrimaryTumorStage" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PrimaryTumorStage" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DistantMetastasis" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="DistantMetastasis" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
  <xs:element name="CNSMargin" type="CNSMargin" />
  <xs:complexType name="CNSMargin">
    <xs:sequence>
      <xs:element name="CNSMarginLocation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="CNSMarginLocation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="cnsPathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="CNSPathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="marginStatus" type="xs:string" />
  </xs:complexType>
  <xs:element name="BreastMargin" type="BreastMargin" />
  <xs:complexType name="BreastMargin">
    <xs:sequence>
      <xs:element name="involvedMarginCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="BreastMarginInvolved" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="BreastMarginUninvolved" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="BreastMarginUninvolved" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="breastPathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="BreastPathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="marginLocation" type="xs:string" />
    <xs:attribute name="marginStatus" type="xs:string" />
  </xs:complexType>
  <xs:element name="ColorectalLocalExcisionMarginUninvolved" type="ColorectalLocalExcisionMarginUninvolved" />
  <xs:complexType name="ColorectalLocalExcisionMarginUninvolved">
    <xs:sequence>
      <xs:element name="localExcisionColorectalLateralMargin" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="LocalExcisionColorectalLateralMargin" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="LocalExcisionColorectalDeepMargin" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="LocalExcisionColorectalDeepMargin" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="closestDistanceToTumor" type="xs:double" />
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
  <xs:element name="HistologicType" type="HistologicType" />
  <xs:complexType name="HistologicType">
    <xs:sequence>
      <xs:element name="BasePathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="BasePathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="HistologicVariantType" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="HistologicVariantType" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="type" type="xs:string" />
  </xs:complexType>
  <xs:element name="BreastPathologyAnnotation" type="BreastPathologyAnnotation" />
  <xs:complexType name="BreastPathologyAnnotation">
    <xs:complexContent>
      <xs:extension base="BaseSolidTissuePathologyAnnotation">
        <xs:sequence>
          <xs:element name="SizeOfInvasiveCarcinoma" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SizeOfInvasiveCarcinoma" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="SCGRecordEntry_BreastPathologyAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SCGRecordEntry" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="Microcalcification" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Microcalcification" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="NottinghamHistologicScore" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="NottinghamHistologicScore" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="SizeOfSpecimen" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SizeOfSpecimen" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="breastMarginCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="BreastMargin" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" />
        <xs:attribute name="lymphNodeSampling" type="xs:string" />
        <xs:attribute name="mitoticCountIfOtherGradingSystemUsed" type="xs:integer" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CNSMarginLocation" type="CNSMarginLocation" />
  <xs:complexType name="CNSMarginLocation">
    <xs:sequence>
      <xs:element name="CNSMargin" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="CNSMargin" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="marginLocation" type="xs:string" />
  </xs:complexType>
  <xs:element name="LungPathologyAnnotation" type="LungPathologyAnnotation" abstract="true" />
  <xs:complexType name="LungPathologyAnnotation">
    <xs:complexContent>
      <xs:extension base="BaseSolidTissuePathologyAnnotation">
        <xs:sequence>
          <xs:element name="SCGRecordEntry_LungPathologyAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SCGRecordEntry" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="KidneyBiopsyBasedPathologyAnnotation" type="KidneyBiopsyBasedPathologyAnnotation" />
  <xs:complexType name="KidneyBiopsyBasedPathologyAnnotation">
    <xs:complexContent>
      <xs:extension base="KidneyPathologyAnnotation">
        <xs:sequence>
          <xs:element name="SCGRecordEntry_KidneyBiopsyBasedPathologyAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SCGRecordEntry" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LungResectionMarginsUninvolved" type="LungResectionMarginsUninvolved" />
  <xs:complexType name="LungResectionMarginsUninvolved">
    <xs:sequence>
      <xs:element name="LungResectionMargin" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="LungResectionMargin" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="closestDistanceToTumor" type="xs:double" />
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
  <xs:element name="PancreasPathologyAnnotation" type="PancreasPathologyAnnotation" />
  <xs:complexType name="PancreasPathologyAnnotation">
    <xs:complexContent>
      <xs:extension base="BaseSolidTissuePathologyAnnotation">
        <xs:sequence>
          <xs:element name="SCGRecordEntry_PancreasPathologyAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SCGRecordEntry" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="otherResectedOrgans" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="OtherResectedOrgans" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="pancreaseMargin" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="PancreasMargin" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UninvolvedMelanomaMargin" type="UninvolvedMelanomaMargin" />
  <xs:complexType name="UninvolvedMelanomaMargin">
    <xs:sequence>
      <xs:element name="DeepMelanomaMargin" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="DeepMelanomaMargin" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="LateralMelanomaMargin" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="LateralMelanomaMargin" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="closestDistanceToTumor" type="xs:double" />
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
  <xs:element name="RadicalProstatectomyPathologyAnnotation" type="RadicalProstatectomyPathologyAnnotation" />
  <xs:complexType name="RadicalProstatectomyPathologyAnnotation">
    <xs:complexContent>
      <xs:extension base="ProstatePathologyAnnotation">
        <xs:sequence>
          <xs:element name="SCGRecordEntry_RadicalProstatectomyPathologyAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SCGRecordEntry" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="ExtraprostaticExtension" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ExtraprostaticExtension" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="RadicalProstatectomyMargin" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="RadicalProstatectomyMargin" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseSolidTissuePathologyAnnotation" type="BaseSolidTissuePathologyAnnotation" />
  <xs:complexType name="BaseSolidTissuePathologyAnnotation">
    <xs:complexContent>
      <xs:extension base="BasePathologyAnnotation">
        <xs:sequence>
          <xs:element name="invasion" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Invasion" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="tumorSize" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="TumorSize" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="PathologicalStaging" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="PathologicalStaging" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="tumorTissueSite" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="TumorTissueSite" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="SCGRecordEntry_BaseSolidTissuePathologyAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SCGRecordEntry" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="HistologicGrade" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="HistologicGrade" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RetropubicEnucleationPathologyAnnotation" type="RetropubicEnucleationPathologyAnnotation" />
  <xs:complexType name="RetropubicEnucleationPathologyAnnotation">
    <xs:complexContent>
      <xs:extension base="ProstatePathologyAnnotation">
        <xs:sequence>
          <xs:element name="SCGRecordEntry_RetropubicEnucleationPathologyAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SCGRecordEntry" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" />
        <xs:attribute name="specimenWeight" type="xs:double" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExcisionalBiopsyBasedColorectalPathologyAnnotation" type="ExcisionalBiopsyBasedColorectalPathologyAnnotation" />
  <xs:complexType name="ExcisionalBiopsyBasedColorectalPathologyAnnotation">
    <xs:complexContent>
      <xs:extension base="ColorectalPathologyAnnotation">
        <xs:sequence>
          <xs:element name="DistanceOfInvasiveCarcinoma" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="DistanceOfInvasiveCarcinoma" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="DistanceOfAdenoma" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="DistanceOfAdenoma" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="PolypConfiguration" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="PolypConfiguration" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="SCGRecordEntry_ExcisionalBiopsyBasedColorectalPathologyAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="SCGRecordEntry" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="deepMarginCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ExcisionalBiopsyColorectalDeepMargin" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="lateralOrMucosalMarginCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ExcisionalBiopsyColorectalLateralOrMucosalMargin" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="extentOfInvasion" type="xs:string" />
        <xs:attribute name="id" type="xs:long" />
        <xs:attribute name="typeOfPolypInWhichInvasiveCarcinomaArose" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SizeOfSpecimen" type="SizeOfSpecimen" />
  <xs:complexType name="SizeOfSpecimen">
    <xs:complexContent>
      <xs:extension base="TumorSize">
        <xs:sequence>
          <xs:element name="BreastPathologyAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="BreastPathologyAnnotation" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PrimaryTumorStage" type="PrimaryTumorStage" />
  <xs:complexType name="PrimaryTumorStage">
    <xs:sequence>
      <xs:element name="PathologicalStaging" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PathologicalStaging" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="primaryTumorStage" type="xs:string" />
  </xs:complexType>
  <xs:element name="ExcionalBiopsyMarginUninvolved" type="ExcionalBiopsyMarginUninvolved" />
  <xs:complexType name="ExcionalBiopsyMarginUninvolved">
    <xs:sequence>
      <xs:element name="ExcisionalBiopsyColorectalLateralOrMucosalMargin" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ExcisionalBiopsyColorectalLateralOrMucosalMargin" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ExcisionalBiopsyColorectalDeepMargin" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ExcisionalBiopsyColorectalDeepMargin" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="closestDistanceToTumor" type="xs:double" />
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
  <xs:element name="PancreasMarginInvolvedByInvasiveCarcinoma" type="PancreasMarginInvolvedByInvasiveCarcinoma" />
  <xs:complexType name="PancreasMarginInvolvedByInvasiveCarcinoma">
    <xs:sequence>
      <xs:element name="PancreasMargin" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PancreasMargin" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="marginLocation" type="xs:string" />
    <xs:attribute name="otherMarginLocation" type="xs:string" />
  </xs:complexType>
  <xs:element name="RegionalLymphNode" type="RegionalLymphNode" />
  <xs:complexType name="RegionalLymphNode">
    <xs:sequence>
      <xs:element name="pathologicStaging" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PathologicalStaging" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="lymphNodeStage" type="xs:string" />
    <xs:attribute name="mattedNodes" type="xs:string" />
    <xs:attribute name="numberExamined" type="xs:long" />
    <xs:attribute name="numberInvolved" type="xs:long" />
    <xs:attribute name="numberPositiveMacroscopically" type="xs:long" />
    <xs:attribute name="numberPositiveMicroscopically" type="xs:long" />
  </xs:complexType>
  <xs:element name="PancreasMarginUninvolvedByInvasiveCarcinoma" type="PancreasMarginUninvolvedByInvasiveCarcinoma" />
  <xs:complexType name="PancreasMarginUninvolvedByInvasiveCarcinoma">
    <xs:sequence>
      <xs:element name="PancreasMargin" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PancreasMargin" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CarcinomaInSituStatus" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="CarcinomaInSituStatus" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="closestDistanceToTumor" type="xs:double" />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="marginLocation" type="xs:string" />
  </xs:complexType>
  <xs:element name="KidneyMarginLocation" type="KidneyMarginLocation" />
  <xs:complexType name="KidneyMarginLocation">
    <xs:sequence>
      <xs:element name="KidneyNephrectomyMargin" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="KidneyNephrectomyMargin" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="location" type="xs:string" />
    <xs:attribute name="otherLocation" type="xs:string" />
  </xs:complexType>
  <xs:element name="ExcisionalBiopsyColorectalLateralOrMucosalMargin" type="ExcisionalBiopsyColorectalLateralOrMucosalMargin" />
  <xs:complexType name="ExcisionalBiopsyColorectalLateralOrMucosalMargin">
    <xs:sequence>
      <xs:element name="excisionalBiopsyBasedColorectalPathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ExcisionalBiopsyBasedColorectalPathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ExcionalBiopsyMarginUninvolved" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ExcionalBiopsyMarginUninvolved" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="marginStatus" type="xs:string" />
  </xs:complexType>
  <xs:element name="ExtraprostaticExtension" type="ExtraprostaticExtension" />
  <xs:complexType name="ExtraprostaticExtension">
    <xs:sequence>
      <xs:element name="RadicalProstatectomyPathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="RadicalProstatectomyPathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ExtraprostaticExtensionTissueSites" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ExtraprostaticExtensionTissueSites" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="isFocal" type="xs:boolean" />
    <xs:attribute name="status" type="xs:string" />
  </xs:complexType>
  <xs:element name="ResectionColorectalMesentricMargin" type="ResectionColorectalMesentricMargin" />
  <xs:complexType name="ResectionColorectalMesentricMargin">
    <xs:sequence>
      <xs:element name="ResectionBasedColorectalPathologyAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ResectionBasedColorectalPathologyAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="uninvolvedMargin" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ColorectalResectedMarginUninvolved" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="marginStatus" type="xs:string" />
  </xs:complexType>
  <xs:element name="HistologicVariantType" type="HistologicVariantType" />
  <xs:complexType name="HistologicVariantType">
    <xs:sequence>
      <xs:element name="HistologicType" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="HistologicType" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="otherHistologicType" type="xs:string" />
  </xs:complexType>
</xs:schema>

