software/caTissue/modules/caTissueDEDataService/schema/Catissue_DE/de_entity.sop.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caCORE.caCORE/3.2/de_entity.sop" targetNamespace="gme://caCORE.caCORE/3.2/de_entity.sop" elementFormDefault="qualified">
  <xs:element name="ReceivedEventParameters" type="ReceivedEventParameters" />
  <xs:complexType name="ReceivedEventParameters">
    <xs:sequence>
      <xs:element name="ActionApplicationRecordEntry_ReceivedEventParameters" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ActionApplicationRecordEntry" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="receivedQuality" type="xs:string" />
  </xs:complexType>
  <xs:element name="TransferEventParameters" type="TransferEventParameters" />
  <xs:complexType name="TransferEventParameters">
    <xs:sequence>
      <xs:element name="ActionApplicationRecordEntry_TransferEventParameters" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ActionApplicationRecordEntry" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="fromPositionDimensionOne" type="xs:long" />
    <xs:attribute name="fromPositionDimensionTwo" type="xs:long" />
    <xs:attribute name="fromStorageContainer" type="xs:string" />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="toPositionDimensionOne" type="xs:long" />
    <xs:attribute name="toPositionDimensionTwo" type="xs:long" />
    <xs:attribute name="toStorageContainer" type="xs:string" />
  </xs:complexType>
  <xs:element name="FluidSpecimenReviewEventParameters" type="FluidSpecimenReviewEventParameters" />
  <xs:complexType name="FluidSpecimenReviewEventParameters">
    <xs:sequence>
      <xs:element name="ActionApplicationRecordEntry_FluidSpecimenReviewEventParameters" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ActionApplicationRecordEntry" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="cellCount" type="xs:double" />
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
  <xs:element name="CellSpecimenReviewParameters" type="CellSpecimenReviewParameters" />
  <xs:complexType name="CellSpecimenReviewParameters">
    <xs:sequence>
      <xs:element name="ActionApplicationRecordEntry_CellSpecimenReviewParameters" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ActionApplicationRecordEntry" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="neoplasticCellularityPercentage" type="xs:double" />
    <xs:attribute name="viableCellPercentage" type="xs:double" />
  </xs:complexType>
  <xs:element name="ThawEventParameters" type="ThawEventParameters" />
  <xs:complexType name="ThawEventParameters">
    <xs:sequence>
      <xs:element name="ActionApplicationRecordEntry_ThawEventParameters" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ActionApplicationRecordEntry" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
  <xs:element name="FrozenEventParameters" type="FrozenEventParameters" />
  <xs:complexType name="FrozenEventParameters">
    <xs:sequence>
      <xs:element name="ActionApplicationRecordEntry_FrozenEventParameters" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ActionApplicationRecordEntry" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="method" type="xs:string" />
  </xs:complexType>
  <xs:element name="CheckInCheckOutEventParameter" type="CheckInCheckOutEventParameter" />
  <xs:complexType name="CheckInCheckOutEventParameter">
    <xs:sequence>
      <xs:element name="ActionApplicationRecordEntry_CheckInCheckOutEventParameter" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ActionApplicationRecordEntry" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="storageStatus" type="xs:string" />
  </xs:complexType>
  <xs:element name="MolecularSpecimenReviewParameters" type="MolecularSpecimenReviewParameters" />
  <xs:complexType name="MolecularSpecimenReviewParameters">
    <xs:sequence>
      <xs:element name="ActionApplicationRecordEntry_MolecularSpecimenReviewParameters" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ActionApplicationRecordEntry" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="absorbanceAt260" type="xs:double" />
    <xs:attribute name="absorbanceAt280" type="xs:double" />
    <xs:attribute name="gelImageURL" type="xs:string" />
    <xs:attribute name="gelNumber" type="xs:long" />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="laneNumber" type="xs:string" />
    <xs:attribute name="qualityIndex" type="xs:string" />
    <xs:attribute name="ratio28STo18S" type="xs:double" />
  </xs:complexType>
  <xs:element name="FixedEventParameters" type="FixedEventParameters" />
  <xs:complexType name="FixedEventParameters">
    <xs:sequence>
      <xs:element name="ActionApplicationRecordEntry_FixedEventParameters" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ActionApplicationRecordEntry" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="durationInMinutes" type="xs:long" />
    <xs:attribute name="fixationType" type="xs:string" />
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
  <xs:element name="CollectionEventParameters" type="CollectionEventParameters" />
  <xs:complexType name="CollectionEventParameters">
    <xs:sequence>
      <xs:element name="ActionApplicationRecordEntry_CollectionEventParameters" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ActionApplicationRecordEntry" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="collectionProcedure" type="xs:string" />
    <xs:attribute name="container" type="xs:string" />
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
  <xs:element name="ActionApplicationRecordEntry" type="ActionApplicationRecordEntry" />
  <xs:complexType name="ActionApplicationRecordEntry">
    <xs:sequence>
      <xs:element name="TissueSpecimenReviewEventParametersCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="TissueSpecimenReviewEventParameters" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ProcedureEventParametersCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ProcedureEventParameters" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CellSpecimenReviewParametersCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="CellSpecimenReviewParameters" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="MolecularSpecimenReviewParametersCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="MolecularSpecimenReviewParameters" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TransferEventParametersCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="TransferEventParameters" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="FixedEventParametersCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="FixedEventParameters" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DisposalEventParametersCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="DisposalEventParameters" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="FrozenEventParametersCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="FrozenEventParameters" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SpunEventParametersCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="SpunEventParameters" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ReceivedEventParametersCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ReceivedEventParameters" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CollectionEventParametersCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="CollectionEventParameters" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="EmbeddedEventParametersCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="EmbeddedEventParameters" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CheckInCheckOutEventParameterCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="CheckInCheckOutEventParameter" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="FluidSpecimenReviewEventParametersCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="FluidSpecimenReviewEventParameters" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ThawEventParametersCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ThawEventParameters" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
  <xs:element name="TissueSpecimenReviewEventParameters" type="TissueSpecimenReviewEventParameters" />
  <xs:complexType name="TissueSpecimenReviewEventParameters">
    <xs:sequence>
      <xs:element name="ActionApplicationRecordEntry_TissueSpecimenReviewEventParameters" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ActionApplicationRecordEntry" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="histologicalQuality" type="xs:string" />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="lymphocyticPercentage" type="xs:double" />
    <xs:attribute name="necrosisPercentage" type="xs:double" />
    <xs:attribute name="neoplasticCellularityPercentage" type="xs:double" />
    <xs:attribute name="totalCellularityPercentage" type="xs:double" />
  </xs:complexType>
  <xs:element name="ProcedureEventParameters" type="ProcedureEventParameters" />
  <xs:complexType name="ProcedureEventParameters">
    <xs:sequence>
      <xs:element name="ActionApplicationRecordEntry_ProcedureEventParameters" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ActionApplicationRecordEntry" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="url" type="xs:string" />
  </xs:complexType>
  <xs:element name="EmbeddedEventParameters" type="EmbeddedEventParameters" />
  <xs:complexType name="EmbeddedEventParameters">
    <xs:sequence>
      <xs:element name="ActionApplicationRecordEntry_EmbeddedEventParameters" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ActionApplicationRecordEntry" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="embeddingMedium" type="xs:string" />
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
  <xs:element name="DisposalEventParameters" type="DisposalEventParameters" />
  <xs:complexType name="DisposalEventParameters">
    <xs:sequence>
      <xs:element name="ActionApplicationRecordEntry_DisposalEventParameters" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ActionApplicationRecordEntry" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="activityStatus" type="xs:string" />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="reason" type="xs:string" />
  </xs:complexType>
  <xs:element name="SpunEventParameters" type="SpunEventParameters" />
  <xs:complexType name="SpunEventParameters">
    <xs:sequence>
      <xs:element name="ActionApplicationRecordEntry_SpunEventParameters" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ActionApplicationRecordEntry" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="durationInMinutes" type="xs:long" />
    <xs:attribute name="gravityForce" type="xs:double" />
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
</xs:schema>

