software/caTissue/modules/DECodeGen/src/test/resources/withIdentifier/clinical_annotation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caCORE.caCORE/3.2/clinical_annotation" targetNamespace="gme://caCORE.caCORE/3.2/clinical_annotation" elementFormDefault="qualified">
  <xs:element name="Duration" type="Duration" />
  <xs:complexType name="Duration">
    <xs:sequence>
      <xs:element name="EnvironmentalExposuresHealthAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="EnvironmentalExposuresHealthAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TreatmentAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="TreatmentAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="durationInDays" type="xs:long" />
    <xs:attribute name="endDate" type="xs:dateTime" />
    <xs:attribute name="identifier" type="xs:long" />
    <xs:attribute name="startDate" type="xs:dateTime" />
  </xs:complexType>
  <xs:element name="ParticipantRecordEntry" type="ParticipantRecordEntry" />
  <xs:complexType name="ParticipantRecordEntry">
    <xs:sequence>
      <xs:element name="DistantRecurrenceHealthExaminationAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="DistantRecurrenceHealthExaminationAnnotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="LocalRecurrenceHealthExaminationAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="LocalRecurrenceHealthExaminationAnnotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="FamilyHistoryAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="FamilyHistoryAnnotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ChemoRXAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ChemoRXAnnotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SmokingHealthAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="SmokingHealthAnnotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="NewDiagnosisHealthAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="NewDiagnosisHealthAnnotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TreatmentRegimenCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="TreatmentRegimen" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TreatmentAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="TreatmentAnnotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RadRXAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="RadRXAnnotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="HealthExaminationAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="HealthExaminationAnnotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RecurrenceHealthExaminationAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="RecurrenceHealthExaminationAnnotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="EnvironmentalExposuresHealthAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="EnvironmentalExposuresHealthAnnotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="LabAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="LabAnnotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AlcoholHealthAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="AlcoholHealthAnnotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="NoEvidentDiseaseHealthAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="NoEvidentDiseaseHealthAnnotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="identifier" type="xs:long" />
  </xs:complexType>
  <xs:element name="RecurrenceHealthExaminationAnnotation" type="RecurrenceHealthExaminationAnnotation" />
  <xs:complexType name="RecurrenceHealthExaminationAnnotation">
    <xs:complexContent>
      <xs:extension base="HealthExaminationAnnotation">
        <xs:sequence>
          <xs:element name="ParticipantRecordEntry_RecurrenceHealthExaminationAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ParticipantRecordEntry" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="clinicalDiagnosis" type="xs:string" />
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="otherClinicalDiagnosis" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TreatmentAnnotation" type="TreatmentAnnotation" />
  <xs:complexType name="TreatmentAnnotation">
    <xs:sequence>
      <xs:element name="Duration" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Duration" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ParticipantRecordEntry_TreatmentAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ParticipantRecordEntry" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="agent" type="xs:string" />
    <xs:attribute name="dose" type="xs:double" />
    <xs:attribute name="doseUnits" type="xs:string" />
    <xs:attribute name="identifier" type="xs:long" />
    <xs:attribute name="otherAgent" type="xs:string" />
  </xs:complexType>
  <xs:element name="GeneralHealthDiagnosis" type="GeneralHealthDiagnosis" />
  <xs:complexType name="GeneralHealthDiagnosis">
    <xs:sequence>
      <xs:element name="FamilyHistoryAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="FamilyHistoryAnnotation" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ageAtDiagnosis" type="xs:long" />
    <xs:attribute name="clinicalDiagnosis" type="xs:string" />
    <xs:attribute name="identifier" type="xs:long" />
    <xs:attribute name="otherClinicalDiagnosis" type="xs:string" />
  </xs:complexType>
  <xs:element name="SmokingHealthAnnotation" type="SmokingHealthAnnotation" />
  <xs:complexType name="SmokingHealthAnnotation">
    <xs:complexContent>
      <xs:extension base="EnvironmentalExposuresHealthAnnotation">
        <xs:sequence>
          <xs:element name="ParticipantRecordEntry_SmokingHealthAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ParticipantRecordEntry" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="packsPerDay" type="xs:long" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Chemotherapy" type="Chemotherapy" />
  <xs:complexType name="Chemotherapy">
    <xs:complexContent>
      <xs:extension base="ChemoRXAnnotation">
        <xs:sequence>
          <xs:element name="TreatmentOrder" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="TreatmentOrder" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="identifier" type="xs:long" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeprecatedAnnotation2" type="DeprecatedAnnotation2" />
  <xs:complexType name="DeprecatedAnnotation2">
    <xs:sequence>
      <xs:element name="treatmentRegimen" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="TreatmentRegimen" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="radRXAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="RadRXAnnotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="chemoRXAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ChemoRXAnnotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="cycle" type="xs:integer" />
    <xs:attribute name="identifier" type="xs:long" />
  </xs:complexType>
  <xs:element name="HealthExaminationAnnotation" type="HealthExaminationAnnotation" />
  <xs:complexType name="HealthExaminationAnnotation">
    <xs:sequence>
      <xs:element name="ParticipantRecordEntry_HealthExaminationAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ParticipantRecordEntry" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="dateOfExamination" type="xs:dateTime" />
    <xs:attribute name="identifier" type="xs:long" />
    <xs:attribute name="nameOfProcedure" type="xs:string" />
    <xs:attribute name="otherProcedure" type="xs:string" />
  </xs:complexType>
  <xs:element name="LocalRecurrenceHealthExaminationAnnotation" type="LocalRecurrenceHealthExaminationAnnotation" />
  <xs:complexType name="LocalRecurrenceHealthExaminationAnnotation">
    <xs:complexContent>
      <xs:extension base="RecurrenceHealthExaminationAnnotation">
        <xs:sequence>
          <xs:element name="ParticipantRecordEntry_LocalRecurrenceHealthExaminationAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ParticipantRecordEntry" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="identifier" type="xs:long" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RadRXAnnotation" type="RadRXAnnotation" />
  <xs:complexType name="RadRXAnnotation">
    <xs:complexContent>
      <xs:extension base="TreatmentAnnotation">
        <xs:sequence>
          <xs:element name="ParticipantRecordEntry_RadRXAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ParticipantRecordEntry" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="deprecatedAnnotation2" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="DeprecatedAnnotation2" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="identifier" type="xs:long" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DistantRecurrenceHealthExaminationAnnotation" type="DistantRecurrenceHealthExaminationAnnotation" />
  <xs:complexType name="DistantRecurrenceHealthExaminationAnnotation">
    <xs:complexContent>
      <xs:extension base="RecurrenceHealthExaminationAnnotation">
        <xs:sequence>
          <xs:element name="ParticipantRecordEntry_DistantRecurrenceHealthExaminationAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ParticipantRecordEntry" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="identifier" type="xs:long" />
        <xs:attribute name="otherTissueSite" type="xs:string" />
        <xs:attribute name="tissueSite" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LabAnnotation" type="LabAnnotation" />
  <xs:complexType name="LabAnnotation">
    <xs:sequence>
      <xs:element name="ParticipantRecordEntry_LabAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ParticipantRecordEntry" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="identifier" type="xs:long" />
    <xs:attribute name="labTestName" type="xs:string" />
    <xs:attribute name="otherLabTestName" type="xs:string" />
    <xs:attribute name="result" type="xs:string" />
    <xs:attribute name="resultUnits" type="xs:string" />
    <xs:attribute name="testDate" type="xs:dateTime" />
  </xs:complexType>
  <xs:element name="TreatmentRegimen" type="TreatmentRegimen" />
  <xs:complexType name="TreatmentRegimen">
    <xs:sequence>
      <xs:element name="treatmentOrderCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="DeprecatedAnnotation2" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TreatmentOrder" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="TreatmentOrder" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ParticipantRecordEntry_TreatmentRegimen" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ParticipantRecordEntry" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="identifier" type="xs:long" />
    <xs:attribute name="treatmentRegimen" type="xs:string" />
  </xs:complexType>
  <xs:element name="AlcoholHealthAnnotation" type="AlcoholHealthAnnotation" />
  <xs:complexType name="AlcoholHealthAnnotation">
    <xs:complexContent>
      <xs:extension base="EnvironmentalExposuresHealthAnnotation">
        <xs:sequence>
          <xs:element name="ParticipantRecordEntry_AlcoholHealthAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ParticipantRecordEntry" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="drinksPerWeek" type="xs:long" />
        <xs:attribute name="identifier" type="xs:long" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NoEvidentDiseaseHealthAnnotation" type="NoEvidentDiseaseHealthAnnotation" />
  <xs:complexType name="NoEvidentDiseaseHealthAnnotation">
    <xs:complexContent>
      <xs:extension base="HealthExaminationAnnotation">
        <xs:sequence>
          <xs:element name="ParticipantRecordEntry_NoEvidentDiseaseHealthAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ParticipantRecordEntry" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="identifier" type="xs:long" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeprecatedAnnotation1" type="DeprecatedAnnotation1" />
  <xs:complexType name="DeprecatedAnnotation1">
    <xs:sequence />
    <xs:attribute name="ageAtDiagnosis" type="xs:integer" />
    <xs:attribute name="clinicalDiagnosis" type="xs:string" />
    <xs:attribute name="identifier" type="xs:long" />
    <xs:attribute name="otherClinicalDiagnosis" type="xs:string" />
  </xs:complexType>
  <xs:element name="ChemoRXAnnotation" type="ChemoRXAnnotation" />
  <xs:complexType name="ChemoRXAnnotation">
    <xs:complexContent>
      <xs:extension base="TreatmentAnnotation">
        <xs:sequence>
          <xs:element name="ParticipantRecordEntry_ChemoRXAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ParticipantRecordEntry" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="deprecatedAnnotation2" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="DeprecatedAnnotation2" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="identifier" type="xs:long" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FamilyHistoryAnnotation" type="FamilyHistoryAnnotation" />
  <xs:complexType name="FamilyHistoryAnnotation">
    <xs:sequence>
      <xs:element name="GeneralHealthDiagnosis" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="GeneralHealthDiagnosis" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ParticipantRecordEntry_FamilyHistoryAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ParticipantRecordEntry" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="identifier" type="xs:long" />
    <xs:attribute name="otherRelation" type="xs:string" />
    <xs:attribute name="relation" type="xs:string" />
  </xs:complexType>
  <xs:element name="RadRXAnnotationSet" type="RadRXAnnotationSet" />
  <xs:complexType name="RadRXAnnotationSet">
    <xs:complexContent>
      <xs:extension base="RadRXAnnotation">
        <xs:sequence>
          <xs:element name="TreatmentOrder" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="TreatmentOrder" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="identifier" type="xs:long" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NewDiagnosisHealthAnnotation" type="NewDiagnosisHealthAnnotation" />
  <xs:complexType name="NewDiagnosisHealthAnnotation">
    <xs:complexContent>
      <xs:extension base="HealthExaminationAnnotation">
        <xs:sequence>
          <xs:element name="ParticipantRecordEntry_NewDiagnosisHealthAnnotation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ParticipantRecordEntry" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="identifier" type="xs:long" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TreatmentOrder" type="TreatmentOrder" />
  <xs:complexType name="TreatmentOrder">
    <xs:sequence>
      <xs:element name="radiationTherapy" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="RadRXAnnotationSet" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TreatmentRegimen" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="TreatmentRegimen" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Chemotherapy" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Chemotherapy" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="cycle" type="xs:long" />
    <xs:attribute name="identifier" type="xs:long" />
  </xs:complexType>
  <xs:element name="EnvironmentalExposuresHealthAnnotation" type="EnvironmentalExposuresHealthAnnotation" />
  <xs:complexType name="EnvironmentalExposuresHealthAnnotation">
    <xs:sequence>
      <xs:element name="ParticipantRecordEntry_EnvironmentalExposuresHealthAnnotation" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ParticipantRecordEntry" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Duration" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Duration" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="agent" type="xs:string" />
    <xs:attribute name="identifier" type="xs:long" />
    <xs:attribute name="otherAgent" type="xs:string" />
    <xs:attribute name="yearsAgentFree" type="xs:double" />
  </xs:complexType>
</xs:schema>

